<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>GameCocosStudio/images_yqw/png/dialog/agree.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,741},{200,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{200,90}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/dialog/agree_press.png</key>
      <dict>
        <key>frame</key>
        <string>{{93,741},{200,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{200,90}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/dialog/base_background.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{686,449}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{686,449}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/dialog/btn_ sure_normal.png</key>
      <dict>
        <key>frame</key>
        <string>{{185,741},{200,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{200,90}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/dialog/btn_ sure_press.png</key>
      <dict>
        <key>frame</key>
        <string>{{277,741},{200,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{200,90}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/dialog/btn_cancel_normal.png</key>
      <dict>
        <key>frame</key>
        <string>{{369,741},{200,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{200,90}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/dialog/btn_cancel_press.png</key>
      <dict>
        <key>frame</key>
        <string>{{461,741},{200,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{200,90}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/dialog/close.png</key>
      <dict>
        <key>frame</key>
        <string>{{327,943},{66,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{66,66}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/dialog/close_press.png</key>
      <dict>
        <key>frame</key>
        <string>{{395,943},{66,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{66,66}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/dialog/disagree.png</key>
      <dict>
        <key>frame</key>
        <string>{{553,689},{200,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{200,90}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/dialog/disagree_press.png</key>
      <dict>
        <key>frame</key>
        <string>{{553,891},{200,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{200,90}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/dialog/base_background2.png</key>
      <dict>
        <key>frame</key>
        <string>{{452,1},{686,449}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{686,449}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/dialog/title_roominfo.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,943},{324,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{324,50}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/dialog/title_dismiss.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,689},{476,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{476,50}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>textureFileName</key>
      <string>dialog.png</string>
      <key>realTextureFileName</key>
      <string>dialog.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
    </dict>
    <key>texture</key>
    <dict>
      <key>width</key>
      <integer>1024</integer>
      <key>height</key>
      <integer>1024</integer>
    </dict>
  </dict>
</plist>

