<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>font/font/dh.png</key>
			<dict>
				<key>frame</key>
				<string>{{61,101},{18,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,26}</string>
			</dict>
			<key>font/font/loase_yi.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,35},{38,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,35}</string>
			</dict>
			<key>font/font/lose_wan.png</key>
			<dict>
				<key>frame</key>
				<string>{{76,0},{38,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,34}</string>
			</dict>
			<key>font/font/multi_log.png</key>
			<dict>
				<key>frame</key>
				<string>{{39,0},{36,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{36,37}</string>
			</dict>
			<key>font/font/rich_wan.png</key>
			<dict>
				<key>frame</key>
				<string>{{38,68},{33,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,31}</string>
			</dict>
			<key>font/font/rich_yi.png</key>
			<dict>
				<key>frame</key>
				<string>{{38,36},{32,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>
			<key>font/font/self_bet_wan.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,100},{31,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,28}</string>
			</dict>
			<key>font/font/self_bet_yi.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,70},{32,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,30}</string>
			</dict>
			<key>font/font/total_bet_wan.png</key>
			<dict>
				<key>frame</key>
				<string>{{31,101},{30,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,27}</string>
			</dict>
			<key>font/font/total_bet_yi.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,68},{32,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,30}</string>
			</dict>
			<key>font/font/win_wan.png</key>
			<dict>
				<key>frame</key>
				<string>{{76,34},{38,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,34}</string>
			</dict>
			<key>font/font/win_yi.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{39,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,35}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>font.png</string>
			<key>realTextureFileName</key>
			<string>font.png</string>
			<key>size</key>
			<string>{128,128}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>128</integer>
			<key>height</key>
			<integer>128</integer>
		</dict>
	</dict>
</plist>