<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fish_type_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{58,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,80}</string>
			</dict>
			<key>fish_type_10_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,80},{58,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,80}</string>
			</dict>
			<key>fish_type_11_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,160},{58,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,80}</string>
			</dict>
			<key>fish_type_12_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,240},{58,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,80}</string>
			</dict>
			<key>fish_type_13_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,320},{58,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,80}</string>
			</dict>
			<key>fish_type_14_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,400},{58,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,80}</string>
			</dict>
			<key>fish_type_15_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{58,0},{58,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,80}</string>
			</dict>
			<key>fish_type_16_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{138,0},{58,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,80}</string>
			</dict>
			<key>fish_type_17_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{218,0},{58,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,80}</string>
			</dict>
			<key>fish_type_18_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,0},{58,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,80}</string>
			</dict>
			<key>fish_type_19_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,0},{58,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,80}</string>
			</dict>
			<key>fish_type_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{58,58},{58,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,80}</string>
			</dict>
			<key>fish_type_20_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{58,138},{58,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,80}</string>
			</dict>
			<key>fish_type_21_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{58,218},{58,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,80}</string>
			</dict>
			<key>fish_type_22_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{58,298},{58,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,80}</string>
			</dict>
			<key>fish_type_23_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{58,378},{58,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,80}</string>
			</dict>
			<key>fish_type_24_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,58},{58,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,80}</string>
			</dict>
			<key>fish_type_25_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,58},{58,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,80}</string>
			</dict>
			<key>fish_type_26_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{276,58},{58,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,80}</string>
			</dict>
			<key>fish_type_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{356,58},{58,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,80}</string>
			</dict>
			<key>fish_type_4_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,58},{58,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,80}</string>
			</dict>
			<key>fish_type_5_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,116},{58,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,80}</string>
			</dict>
			<key>fish_type_6_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,116},{58,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,80}</string>
			</dict>
			<key>fish_type_7_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{276,116},{58,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,80}</string>
			</dict>
			<key>fish_type_8_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{356,116},{58,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,80}</string>
			</dict>
			<key>fish_type_9_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,138},{58,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,80}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>lock_fish.png</string>
			<key>realTextureFileName</key>
			<string>lock_fish.png</string>
			<key>size</key>
			<string>{512,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>