<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sy_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,2},{804,382}}</string>
                <key>offset</key>
                <string>{-18,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{804,382}}</string>
                <key>sourceSize</key>
                <string>{864,450}</string>
            </dict>
            <key>sy_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1532},{596,266}}</string>
                <key>offset</key>
                <string>{-18,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,50},{596,266}}</string>
                <key>sourceSize</key>
                <string>{864,450}</string>
            </dict>
            <key>sy_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{786,288}}</string>
                <key>offset</key>
                <string>{-2,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,38},{786,288}}</string>
                <key>sourceSize</key>
                <string>{864,450}</string>
            </dict>
            <key>sy_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{824,280}}</string>
                <key>offset</key>
                <string>{-20,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,41},{824,280}}</string>
                <key>sourceSize</key>
                <string>{864,450}</string>
            </dict>
            <key>sy_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1634,2},{744,410}}</string>
                <key>offset</key>
                <string>{40,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,37},{744,410}}</string>
                <key>sourceSize</key>
                <string>{864,450}</string>
            </dict>
            <key>sy_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,574},{702,380}}</string>
                <key>offset</key>
                <string>{22,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,41},{702,380}}</string>
                <key>sourceSize</key>
                <string>{864,450}</string>
            </dict>
            <key>sy_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,956},{648,280}}</string>
                <key>offset</key>
                <string>{-5,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,40},{648,280}}</string>
                <key>sourceSize</key>
                <string>{864,450}</string>
            </dict>
            <key>sy_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,1322},{522,284}}</string>
                <key>offset</key>
                <string>{-17,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,19},{522,284}}</string>
                <key>sourceSize</key>
                <string>{864,450}</string>
            </dict>
            <key>sy_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,1322},{522,282}}</string>
                <key>offset</key>
                <string>{-17,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,32},{522,282}}</string>
                <key>sourceSize</key>
                <string>{864,450}</string>
            </dict>
            <key>sy_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,1322},{628,330}}</string>
                <key>offset</key>
                <string>{-12,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,0},{628,330}}</string>
                <key>sourceSize</key>
                <string>{864,450}</string>
            </dict>
            <key>sy_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,686},{670,314}}</string>
                <key>offset</key>
                <string>{-9,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,5},{670,314}}</string>
                <key>sourceSize</key>
                <string>{864,450}</string>
            </dict>
            <key>sy_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1378,748},{650,306}}</string>
                <key>offset</key>
                <string>{-2,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,5},{650,306}}</string>
                <key>sourceSize</key>
                <string>{864,450}</string>
            </dict>
            <key>sy_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,1002},{642,318}}</string>
                <key>offset</key>
                <string>{-6,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,3},{642,318}}</string>
                <key>sourceSize</key>
                <string>{864,450}</string>
            </dict>
            <key>sy_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1238},{634,292}}</string>
                <key>offset</key>
                <string>{-7,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,27},{634,292}}</string>
                <key>sourceSize</key>
                <string>{864,450}</string>
            </dict>
            <key>sy_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,386},{722,298}}</string>
                <key>offset</key>
                <string>{-14,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,33},{722,298}}</string>
                <key>sourceSize</key>
                <string>{864,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>anim_sy.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a59fd44a18475692bae5112076e876fb:1/1$</string>
            <key>textureFileName</key>
            <string>anim_sy.png</string>
        </dict>
    </dict>
</plist>
