<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cj_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1344,1879},{150,84}}</string>
                <key>offset</key>
                <string>{28,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,169},{150,84}}</string>
                <key>sourceSize</key>
                <string>{584,390}</string>
            </dict>
            <key>cj_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1541,1879},{198,106}}</string>
                <key>offset</key>
                <string>{35,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,163},{198,106}}</string>
                <key>sourceSize</key>
                <string>{584,390}</string>
            </dict>
            <key>cj_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2648,1118},{556,376}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{556,376}}</string>
                <key>sourceSize</key>
                <string>{584,390}</string>
            </dict>
            <key>cj_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2379,2},{556,376}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{556,376}}</string>
                <key>sourceSize</key>
                <string>{584,390}</string>
            </dict>
            <key>cj_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2303,560},{556,376}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{556,376}}</string>
                <key>sourceSize</key>
                <string>{584,390}</string>
            </dict>
            <key>cj_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2270,1231},{556,376}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{556,376}}</string>
                <key>sourceSize</key>
                <string>{584,390}</string>
            </dict>
            <key>cj_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2001,2},{556,376}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{556,376}}</string>
                <key>sourceSize</key>
                <string>{584,390}</string>
            </dict>
            <key>cj_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3679,1038},{502,376}}</string>
                <key>offset</key>
                <string>{-26,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,6},{502,376}}</string>
                <key>sourceSize</key>
                <string>{584,390}</string>
            </dict>
            <key>cj_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3679,520},{516,376}}</string>
                <key>offset</key>
                <string>{-18,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,6},{516,376}}</string>
                <key>sourceSize</key>
                <string>{584,390}</string>
            </dict>
            <key>cj_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{3679,2},{516,376}}</string>
                <key>offset</key>
                <string>{-18,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,6},{516,376}}</string>
                <key>sourceSize</key>
                <string>{584,390}</string>
            </dict>
            <key>cj_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{3161,1617},{516,376}}</string>
                <key>offset</key>
                <string>{-18,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{516,376}}</string>
                <key>sourceSize</key>
                <string>{584,390}</string>
            </dict>
            <key>cj_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{3078,530},{526,376}}</string>
                <key>offset</key>
                <string>{-23,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{526,376}}</string>
                <key>sourceSize</key>
                <string>{584,390}</string>
            </dict>
            <key>cj_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{3026,1089},{526,376}}</string>
                <key>offset</key>
                <string>{-23,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{526,376}}</string>
                <key>sourceSize</key>
                <string>{584,390}</string>
            </dict>
            <key>cj_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2757,2},{526,376}}</string>
                <key>offset</key>
                <string>{-23,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{526,376}}</string>
                <key>sourceSize</key>
                <string>{584,390}</string>
            </dict>
            <key>cj_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1925,673},{556,376}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{556,376}}</string>
                <key>sourceSize</key>
                <string>{584,390}</string>
            </dict>
            <key>sx_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,1879},{109,111}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{278,282},{109,111}}</string>
                <key>sourceSize</key>
                <string>{669,669}</string>
            </dict>
            <key>sx_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2648,1676},{363,511}}</string>
                <key>offset</key>
                <string>{0,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,158},{363,511}}</string>
                <key>sourceSize</key>
                <string>{669,669}</string>
            </dict>
            <key>sx_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,1344},{669,669}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{669,669}}</string>
                <key>sourceSize</key>
                <string>{669,669}</string>
            </dict>
            <key>sx_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,673},{669,669}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{669,669}}</string>
                <key>sourceSize</key>
                <string>{669,669}</string>
            </dict>
            <key>sx_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,2},{669,669}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{669,669}}</string>
                <key>sourceSize</key>
                <string>{669,669}</string>
            </dict>
            <key>sx_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1344},{669,669}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{669,669}}</string>
                <key>sourceSize</key>
                <string>{669,669}</string>
            </dict>
            <key>sx_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2681,560},{395,527}}</string>
                <key>offset</key>
                <string>{0,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,142},{395,527}}</string>
                <key>sourceSize</key>
                <string>{669,669}</string>
            </dict>
            <key>sx_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3135,2},{373,519}}</string>
                <key>offset</key>
                <string>{1,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,150},{373,519}}</string>
                <key>sourceSize</key>
                <string>{669,669}</string>
            </dict>
            <key>sx_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1859,1294},{409,557}}</string>
                <key>offset</key>
                <string>{0,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,112},{409,557}}</string>
                <key>sourceSize</key>
                <string>{669,669}</string>
            </dict>
            <key>sx_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1344,1294},{513,583}}</string>
                <key>offset</key>
                <string>{6,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,86},{513,583}}</string>
                <key>sourceSize</key>
                <string>{669,669}</string>
            </dict>
            <key>sx_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1344,673},{579,619}}</string>
                <key>offset</key>
                <string>{-6,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,50},{579,619}}</string>
                <key>sourceSize</key>
                <string>{669,669}</string>
            </dict>
            <key>sx_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1344,2},{669,655}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{669,655}}</string>
                <key>sourceSize</key>
                <string>{669,669}</string>
            </dict>
            <key>sx_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,673},{669,669}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{669,669}}</string>
                <key>sourceSize</key>
                <string>{669,669}</string>
            </dict>
            <key>sx_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{669,669}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{669,669}}</string>
                <key>sourceSize</key>
                <string>{669,669}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>anim_sx.png</string>
            <key>size</key>
            <string>{4096,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d7fa2b9bf1e4edb593a692e55ae3a8b:1/1$</string>
            <key>textureFileName</key>
            <string>anim_sx.png</string>
        </dict>
    </dict>
</plist>
