<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anim_9lian_bg_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,2},{155,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,88},{155,110}}</string>
                <key>sourceSize</key>
                <string>{289,286}</string>
            </dict>
            <key>anim_9lian_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,339},{187,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,66},{187,154}}</string>
                <key>sourceSize</key>
                <string>{289,286}</string>
            </dict>
            <key>anim_9lian_bg_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,2},{289,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,286}}</string>
                <key>sourceSize</key>
                <string>{289,286}</string>
            </dict>
            <key>anim_9lian_bg_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,2},{289,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,286}}</string>
                <key>sourceSize</key>
                <string>{289,286}</string>
            </dict>
            <key>anim_9lian_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,815},{221,198}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,43},{221,198}}</string>
                <key>sourceSize</key>
                <string>{289,286}</string>
            </dict>
            <key>anim_9lian_bg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,558},{255,242}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,21},{255,242}}</string>
                <key>sourceSize</key>
                <string>{289,286}</string>
            </dict>
            <key>anim_9lian_bg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{289,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,286}}</string>
                <key>sourceSize</key>
                <string>{289,286}</string>
            </dict>
            <key>anim_9lian_bg_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{285,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{285,276}}</string>
                <key>sourceSize</key>
                <string>{289,286}</string>
            </dict>
            <key>anim_9lian_bg_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,290},{283,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{283,266}}</string>
                <key>sourceSize</key>
                <string>{289,286}</string>
            </dict>
            <key>anim_9lian_bg_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,558},{279,258}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,13},{279,258}}</string>
                <key>sourceSize</key>
                <string>{289,286}</string>
            </dict>
            <key>anim_9lian_bg_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,290},{283,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{283,266}}</string>
                <key>sourceSize</key>
                <string>{289,286}</string>
            </dict>
            <key>anim_9lian_bg_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,339},{285,276}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{285,276}}</string>
                <key>sourceSize</key>
                <string>{289,286}</string>
            </dict>
            <key>anim_9lian_light_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,159},{37,54}}</string>
                <key>offset</key>
                <string>{-103,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{37,54}}</string>
                <key>sourceSize</key>
                <string>{257,88}</string>
            </dict>
            <key>anim_9lian_light_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,249},{105,88}}</string>
                <key>offset</key>
                <string>{-75,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{105,88}}</string>
                <key>sourceSize</key>
                <string>{257,88}</string>
            </dict>
            <key>anim_9lian_light_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,913},{103,88}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,0},{103,88}}</string>
                <key>sourceSize</key>
                <string>{257,88}</string>
            </dict>
            <key>anim_9lian_light_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,159},{105,88}}</string>
                <key>offset</key>
                <string>{49,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,0},{105,88}}</string>
                <key>sourceSize</key>
                <string>{257,88}</string>
            </dict>
            <key>anim_9lian_light_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,913},{65,60}}</string>
                <key>offset</key>
                <string>{87,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,28},{65,60}}</string>
                <key>sourceSize</key>
                <string>{257,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>anim_2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a1a07a1d772c4792de48201a192f97a1:1/1$</string>
            <key>textureFileName</key>
            <string>anim_2.png</string>
        </dict>
    </dict>
</plist>
