<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anim_3lian_bg_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,2},{376,118}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,159},{376,118}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>anim_3lian_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,438},{502,142}}</string>
                <key>offset</key>
                <string>{0,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,163},{502,142}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>anim_3lian_bg_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,990},{550,226}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,79},{550,226}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>anim_3lian_bg_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,438},{550,232}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,73},{550,232}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>anim_3lian_bg_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,990},{550,236}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,69},{550,236}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>anim_3lian_bg_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{550,236}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,69},{550,236}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>anim_3lian_bg_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,2},{550,236}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,69},{550,236}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>anim_3lian_bg_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,2},{550,236}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,69},{550,236}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>anim_3lian_bg_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{550,236}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,69},{550,236}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>anim_3lian_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,438},{478,134}}</string>
                <key>offset</key>
                <string>{-1,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,165},{478,134}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>anim_3lian_bg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,438},{502,142}}</string>
                <key>offset</key>
                <string>{0,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,163},{502,142}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>anim_3lian_bg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,240},{502,158}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,147},{502,158}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>anim_3lian_bg_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,1542},{502,198}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,107},{502,198}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>anim_3lian_bg_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,1526},{508,236}}</string>
                <key>offset</key>
                <string>{2,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,69},{508,236}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>anim_3lian_bg_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1542},{504,232}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,73},{504,232}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>anim_3lian_bg_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,1542},{502,226}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,79},{502,226}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>anim_3lian_bg_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,990},{534,222}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,83},{534,222}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>anim_3lian_star_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,240},{206,146}}</string>
                <key>offset</key>
                <string>{-9,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,103},{206,146}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>anim_3lian_star_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{244,178}}</string>
                <key>offset</key>
                <string>{-7,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,82},{244,178}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>anim_3lian_star_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,240},{356,310}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,24},{356,310}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>anim_3lian_star_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,1498},{358,312}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,23},{358,312}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>anim_3lian_star_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,438},{360,314}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,22},{360,314}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>anim_3lian_star_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,122},{362,314}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,23},{362,314}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>anim_3lian_star_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,918},{360,314}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,23},{360,314}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>anim_3lian_star_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,1280},{280,216}}</string>
                <key>offset</key>
                <string>{-6,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,64},{280,216}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>anim_3lian_star_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,1158},{312,256}}</string>
                <key>offset</key>
                <string>{-4,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,47},{312,256}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>anim_3lian_star_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,1158},{342,296}}</string>
                <key>offset</key>
                <string>{-3,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,29},{342,296}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>anim_3lian_star_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,1050},{344,296}}</string>
                <key>offset</key>
                <string>{-3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,29},{344,296}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>anim_3lian_star_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,858},{346,298}}</string>
                <key>offset</key>
                <string>{-3,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,29},{346,298}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>anim_3lian_star_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1568,746},{348,302}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,27},{348,302}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>anim_3lian_star_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,552},{350,304}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,27},{350,304}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>anim_3lian_star_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1574,438},{354,306}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,26},{354,306}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>anim_0.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e191cfe5013a30c1679c215314fab8a:1/1$</string>
            <key>textureFileName</key>
            <string>anim_0.png</string>
        </dict>
    </dict>
</plist>
