<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>GameCocosStudio/images_yqw/png/player/player_bg.png</key>
      <dict>
        <key>frame</key>
        <string>{{1774,451},{110,162}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{110,162}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/player/s_complated.png</key>
      <dict>
        <key>frame</key>
        <string>{{1992,451},{138,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{138,37}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/player/s_ready.png</key>
      <dict>
        <key>frame</key>
        <string>{{1996,925},{72,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{72,48}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/player/s_ready1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1992,999},{72,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{72,48}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/player/s_reorganize.png</key>
      <dict>
        <key>frame</key>
        <string>{{2012,591},{140,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{140,34}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/player/shadow.png</key>
      <dict>
        <key>frame</key>
        <string>{{1897,1130},{88,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{88,82}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/player/shuibg.png</key>
      <dict>
        <key>frame</key>
        <string>{{1996,827},{96,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{96,36}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/player/arrow.png</key>
      <dict>
        <key>frame</key>
        <string>{{1987,1201},{46,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{46,44}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/player/bk.png</key>
      <dict>
        <key>frame</key>
        <string>{{1774,153},{194,69}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{194,69}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/player/btn_ tichu_normal.png</key>
      <dict>
        <key>frame</key>
        <string>{{1886,557},{92,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{92,48}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/player/btn_ tichu_press.png</key>
      <dict>
        <key>frame</key>
        <string>{{1996,733},{92,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{92,48}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/player/btn_close.png</key>
      <dict>
        <key>frame</key>
        <string>{{1837,942},{214,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{214,58}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/player/btn_gps.png</key>
      <dict>
        <key>frame</key>
        <string>{{183,1985},{62,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{62,68}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/player/game_off line.png</key>
      <dict>
        <key>frame</key>
        <string>{{1987,1165},{60,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{60,34}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/player/gps_bg.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{1280,1000}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{1280,1000}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/player/headframe.png</key>
      <dict>
        <key>frame</key>
        <string>{{1886,451},{104,104}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{104,104}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/player/headmask.png</key>
      <dict>
        <key>frame</key>
        <string>{{1897,1036},{92,92}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{92,92}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/player/host.png</key>
      <dict>
        <key>frame</key>
        <string>{{1837,1158},{66,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{66,34}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/player/house_huanlebi.png</key>
      <dict>
        <key>frame</key>
        <string>{{1991,1073},{90,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{90,26}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/player/icon_gps1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1985},{61,89}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{61,89}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/player/icon_gps2.png</key>
      <dict>
        <key>frame</key>
        <string>{{92,1985},{61,89}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{61,89}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/player/ink.png</key>
      <dict>
        <key>frame</key>
        <string>{{1283,963},{464,366}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{464,366}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/player/jiangexian.png</key>
      <dict>
        <key>frame</key>
        <string>{{1549,942},{156,2}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{156,2}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/player/light_circle.png</key>
      <dict>
        <key>frame</key>
        <string>{{1897,942},{93,92}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{93,92}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/player/line_1_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1996,1},{46,228}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{46,228}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/player/line_1_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1549,691},{249,445}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{249,445}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/player/line_1_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{1283,1},{960,264}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{960,264}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/player/line_2_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1774,231},{253,218}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{253,218}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/player/line_2_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{1749,942},{959,86}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{959,86}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/player/line_3_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{1549,1},{688,223}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{688,223}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/player/num_shade.png</key>
      <dict>
        <key>frame</key>
        <string>{{1774,615},{236,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{236,70}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/player/prop_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1873,1214},{80,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{80,80}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/player/prop_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1955,1247},{80,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{80,80}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/player/prop_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1837,1296},{80,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{80,80}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/player/prop_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{1919,1329},{80,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{80,80}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/player/prop_disable_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1837,1378},{80,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{80,80}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/player/prop_disable_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1919,1411},{80,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{80,80}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/player/prop_disable_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1837,1460},{80,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{80,80}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/player/prop_disable_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{1919,1493},{80,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{80,80}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/player/payexpression_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1837,1542},{80,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{80,80}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/player/payexpression_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1919,1575},{80,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{80,80}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/player/payexpression_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1837,1624},{80,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{80,80}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/player/payexpression_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{1919,1657},{80,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{80,80}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/player/payexpression_disable_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1837,1706},{80,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{80,80}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/player/payexpression_disable_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1919,1739},{80,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{80,80}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/player/payexpression_disable_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1837,1788},{80,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{80,80}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/player/payexpression_disable_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{1919,1821},{80,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{80,80}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/player/prop_press_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1837,1870},{80,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{80,80}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/player/prop_press_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1919,1903},{80,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{80,80}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/player/prop_press_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1903},{80,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{80,80}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/player/prop_press_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{83,1903},{80,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{80,80}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/player/yuanbao.png</key>
      <dict>
        <key>frame</key>
        <string>{{1774,1},{150,200}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{150,200}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>textureFileName</key>
      <string>player.png</string>
      <key>realTextureFileName</key>
      <string>player.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
    </dict>
    <key>texture</key>
    <dict>
      <key>width</key>
      <integer>2048</integer>
      <key>height</key>
      <integer>2048</integer>
    </dict>
  </dict>
</plist>

