<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bt_invite_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,1570},{396,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,89}}</string>
                <key>sourceSize</key>
                <string>{396,89}</string>
            </dict>
            <key>bt_invite_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1140},{396,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,89}}</string>
                <key>sourceSize</key>
                <string>{396,89}</string>
            </dict>
            <key>bt_qiut.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,1228},{181,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,62}}</string>
                <key>sourceSize</key>
                <string>{181,62}</string>
            </dict>
            <key>bt_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,1420},{181,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,62}}</string>
                <key>sourceSize</key>
                <string>{181,62}</string>
            </dict>
            <key>im_end_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{737,628}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{737,628}}</string>
                <key>sourceSize</key>
                <string>{737,628}</string>
            </dict>
            <key>im_invite_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1570},{450,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,131}}</string>
                <key>sourceSize</key>
                <string>{450,131}</string>
            </dict>
            <key>im_score_cell.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,376},{553,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{553,57}}</string>
                <key>sourceSize</key>
                <string>{553,57}</string>
            </dict>
            <key>landpri_box_config_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,175},{237,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,18},{237,33}}</string>
                <key>sourceSize</key>
                <string>{277,69}</string>
            </dict>
            <key>landpri_box_config_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,71},{277,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{277,67}}</string>
                <key>sourceSize</key>
                <string>{277,69}</string>
            </dict>
            <key>landpri_box_mark_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,140},{237,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,18},{237,33}}</string>
                <key>sourceSize</key>
                <string>{277,69}</string>
            </dict>
            <key>landpri_box_mark_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,2},{277,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{277,67}}</string>
                <key>sourceSize</key>
                <string>{277,69}</string>
            </dict>
            <key>landpri_btn_bt_dismiss_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,1228},{190,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{190,78}}</string>
                <key>sourceSize</key>
                <string>{196,88}</string>
            </dict>
            <key>landpri_btn_bt_dismiss_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,1968},{190,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{190,78}}</string>
                <key>sourceSize</key>
                <string>{196,88}</string>
            </dict>
            <key>landpri_btn_round_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,274},{230,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{230,62}}</string>
                <key>sourceSize</key>
                <string>{234,66}</string>
            </dict>
            <key>landpri_btn_round_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,210},{230,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{230,62}}</string>
                <key>sourceSize</key>
                <string>{234,66}</string>
            </dict>
            <key>landpri_sp_battlemarkbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{694,506}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{694,506}}</string>
                <key>sourceSize</key>
                <string>{694,506}</string>
            </dict>
            <key>landpri_sp_boxbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,1140},{578,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{578,86}}</string>
                <key>sourceSize</key>
                <string>{590,90}</string>
            </dict>
            <key>landpri_sp_configbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,338},{616,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{616,222}}</string>
                <key>sourceSize</key>
                <string>{620,230}</string>
            </dict>
            <key>landpri_sp_markbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,956},{612,316}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{612,316}}</string>
                <key>sourceSize</key>
                <string>{620,322}</string>
            </dict>
            <key>landpri_sp_thumb_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,182},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{40,40}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>landpri_sp_thumb_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,140},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{40,40}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>priland_sp_roomidtip.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,314},{60,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,30}}</string>
                <key>sourceSize</key>
                <string>{60,30}</string>
            </dict>
            <key>txt_failed.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,269},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>txt_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,224},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>land_game.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d3d364201ad372baa6c0189148c22c7$</string>
            <key>textureFileName</key>
            <string>land_game.png</string>
        </dict>
    </dict>
</plist>
