<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rain_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,297}</string>
                <key>spriteSourceSize</key>
                <string>{350,297}</string>
                <key>textureRect</key>
                <string>{{1,1},{350,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rain_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,297}</string>
                <key>spriteSourceSize</key>
                <string>{350,297}</string>
                <key>textureRect</key>
                <string>{{353,1},{350,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rain_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,297}</string>
                <key>spriteSourceSize</key>
                <string>{350,297}</string>
                <key>textureRect</key>
                <string>{{1,300},{350,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rain_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,297}</string>
                <key>spriteSourceSize</key>
                <string>{350,297}</string>
                <key>textureRect</key>
                <string>{{353,300},{350,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rain_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,297}</string>
                <key>spriteSourceSize</key>
                <string>{350,297}</string>
                <key>textureRect</key>
                <string>{{1,599},{350,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rain_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,297}</string>
                <key>spriteSourceSize</key>
                <string>{350,297}</string>
                <key>textureRect</key>
                <string>{{353,599},{350,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>rain.png</string>
            <key>size</key>
            <string>{704,897}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:50a4c7c7ae434888bf922860df1973ab:d42fbd349b00115c1d56b5884afd4900:baef629f7de0e08c0ea0dadb3f0a7c27$</string>
            <key>textureFileName</key>
            <string>rain.png</string>
        </dict>
    </dict>
</plist>
