<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>game/game/box_balck.png</key>
			<dict>
				<key>frame</key>
				<string>{{792,336},{84,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,38}</string>
			</dict>
			<key>game/game/box_yellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{824,276},{84,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,38}</string>
			</dict>
			<key>game/game/btn_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{904,366},{92,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>
			<key>game/game/btn_bet_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{788,200},{136,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,76}</string>
			</dict>
			<key>game/game/btn_bet_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{788,76},{136,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,76}</string>
			</dict>
			<key>game/game/btn_cardtype.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,152},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>game/game/btn_chongfutou_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{740,0},{200,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,76}</string>
			</dict>
			<key>game/game/btn_chongfutou_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{940,0},{200,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,76}</string>
			</dict>
			<key>game/game/btn_detail.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,220},{64,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,72}</string>
			</dict>
			<key>game/game/btn_menu.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,0},{90,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,93}</string>
			</dict>
			<key>game/game/btn_otherplayer.png</key>
			<dict>
				<key>frame</key>
				<string>{{808,374},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>game/game/btn_set.png</key>
			<dict>
				<key>frame</key>
				<string>{{904,458},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>game/game/history_black.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,470},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>game/game/history_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{872,470},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>game/game/icon_font_100.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,412},{100,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,36}</string>
			</dict>
			<key>game/game/icon_font_100w.png</key>
			<dict>
				<key>frame</key>
				<string>{{692,352},{100,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,36}</string>
			</dict>
			<key>game/game/icon_font_10w.png</key>
			<dict>
				<key>frame</key>
				<string>{{724,300},{100,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,36}</string>
			</dict>
			<key>game/game/icon_font_1w.png</key>
			<dict>
				<key>frame</key>
				<string>{{788,152},{100,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,36}</string>
			</dict>
			<key>game/game/icon_font_500w.png</key>
			<dict>
				<key>frame</key>
				<string>{{740,472},{100,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,36}</string>
			</dict>
			<key>game/game/img_head.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,0},{92,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>
			<key>game/game/Infomation_box.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,90},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>game/game/king_box.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{204,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,184}</string>
			</dict>
			<key>game/game/log_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,476},{140,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,36}</string>
			</dict>
			<key>game/game/log_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,476},{140,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,36}</string>
			</dict>
			<key>game/game/lucky_box.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,204},{204,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,184}</string>
			</dict>
			<key>game/game/money_box.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,408},{288,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{288,68}</string>
			</dict>
			<key>game/game/myhead_box.png</key>
			<dict>
				<key>frame</key>
				<string>{{928,296},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>game/game/player_box.png</key>
			<dict>
				<key>frame</key>
				<string>{{496,0},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>game/game/player_head_box.png</key>
			<dict>
				<key>frame</key>
				<string>{{924,200},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>game/game/player_head_logo.png</key>
			<dict>
				<key>frame</key>
				<string>{{876,314},{52,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>game/game/player_name_box.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,448},{96,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,24}</string>
			</dict>
			<key>game/game/red_teg.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,76},{224,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{224,52}</string>
			</dict>
			<key>game/game/select.png</key>
			<dict>
				<key>frame</key>
				<string>{{728,388},{84,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,80}</string>
			</dict>
			<key>game/game/star.png</key>
			<dict>
				<key>frame</key>
				<string>{{952,458},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>game/game/station_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{184,0},{344,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{344,68}</string>
			</dict>
			<key>game/game/title_open_card.png</key>
			<dict>
				<key>frame</key>
				<string>{{620,476},{120,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,32}</string>
			</dict>
			<key>game/game/title_result.png</key>
			<dict>
				<key>frame</key>
				<string>{{692,232},{120,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,32}</string>
			</dict>
			<key>game/game/title_station_time.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,292},{120,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,32}</string>
			</dict>
			<key>game/game/title_station_wait.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,292},{120,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,32}</string>
			</dict>
			<key>game/game/title_wait_next.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,408},{340,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{340,88}</string>
			</dict>
			<key>game/game/type_bg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{184,344},{220,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,64}</string>
			</dict>
			<key>game/game/type_bg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,0},{220,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{220,64}</string>
			</dict>
			<key>game/game/win_black.png</key>
			<dict>
				<key>frame</key>
				<string>{{692,0},{116,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{116,44}</string>
			</dict>
			<key>game/game/win_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{692,116},{116,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{116,44}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>game.png</string>
			<key>realTextureFileName</key>
			<string>game.png</string>
			<key>size</key>
			<string>{1024,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>