<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>GameCocosStudio/images_yqw/card/smallcard/black_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,1},{24,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,30}</string>
			</dict>
			<key>GameCocosStudio/images_yqw/card/smallcard/black_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{419,1},{24,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,30}</string>
			</dict>
			<key>GameCocosStudio/images_yqw/card/smallcard/black_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,1},{24,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,30}</string>
			</dict>
			<key>GameCocosStudio/images_yqw/card/smallcard/black_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,1},{24,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,30}</string>
			</dict>
			<key>GameCocosStudio/images_yqw/card/smallcard/black_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,15},{24,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,30}</string>
			</dict>
			<key>GameCocosStudio/images_yqw/card/smallcard/black_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,1},{12,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{12,62}</string>
			</dict>
			<key>GameCocosStudio/images_yqw/card/smallcard/black_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,31},{24,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,30}</string>
			</dict>
			<key>GameCocosStudio/images_yqw/card/smallcard/black_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,31},{24,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,30}</string>
			</dict>
			<key>GameCocosStudio/images_yqw/card/smallcard/black_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,15},{24,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,30}</string>
			</dict>
			<key>GameCocosStudio/images_yqw/card/smallcard/black_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{323,15},{24,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,30}</string>
			</dict>
			<key>GameCocosStudio/images_yqw/card/smallcard/black_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{355,15},{24,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,30}</string>
			</dict>
			<key>GameCocosStudio/images_yqw/card/smallcard/black_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,27},{24,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,30}</string>
			</dict>
			<key>GameCocosStudio/images_yqw/card/smallcard/black_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{419,27},{24,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,30}</string>
			</dict>
			<key>GameCocosStudio/images_yqw/card/smallcard/black_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,27},{24,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,30}</string>
			</dict>
			<key>GameCocosStudio/images_yqw/card/smallcard/game_big.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,1},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>
			<key>GameCocosStudio/images_yqw/card/smallcard/game_black_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{52,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,70}</string>
			</dict>
			<key>GameCocosStudio/images_yqw/card/smallcard/game_black_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,73},{52,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,70}</string>
			</dict>
			<key>GameCocosStudio/images_yqw/card/smallcard/game_black_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,145},{52,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,70}</string>
			</dict>
			<key>GameCocosStudio/images_yqw/card/smallcard/game_club.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,81},{22,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,22}</string>
			</dict>
			<key>GameCocosStudio/images_yqw/card/smallcard/game_diamond.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,81},{22,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,22}</string>
			</dict>
			<key>GameCocosStudio/images_yqw/card/smallcard/game_diamond_ma.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,81},{22,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,22}</string>
			</dict>
			<key>GameCocosStudio/images_yqw/card/smallcard/game_heart.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,81},{22,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,22}</string>
			</dict>
			<key>GameCocosStudio/images_yqw/card/smallcard/game_red_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,217},{52,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,70}</string>
			</dict>
			<key>GameCocosStudio/images_yqw/card/smallcard/game_red_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,289},{52,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,70}</string>
			</dict>
			<key>GameCocosStudio/images_yqw/card/smallcard/game_red_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,361},{52,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,70}</string>
			</dict>
			<key>GameCocosStudio/images_yqw/card/smallcard/game_small.png</key>
			<dict>
				<key>frame</key>
				<string>{{229,1},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>
			<key>GameCocosStudio/images_yqw/card/smallcard/game_spade.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,83},{22,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,22}</string>
			</dict>
			<key>GameCocosStudio/images_yqw/card/smallcard/game_spades.png</key>
			<dict>
				<key>frame</key>
				<string>{{55,107},{17,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{17,16}</string>
			</dict>
			<key>GameCocosStudio/images_yqw/card/smallcard/game_spades_ma.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,105},{22,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,22}</string>
			</dict>
			<key>GameCocosStudio/images_yqw/card/smallcard/game_throwbase.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,433},{52,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,70}</string>
			</dict>
			<key>GameCocosStudio/images_yqw/card/smallcard/game_throwbase_mapai.png</key>
			<dict>
				<key>frame</key>
				<string>{{55,1},{52,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,70}</string>
			</dict>
			<key>GameCocosStudio/images_yqw/card/smallcard/game_throwcardback.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,1},{52,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,70}</string>
			</dict>
			<key>GameCocosStudio/images_yqw/card/smallcard/red_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,33},{24,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,30}</string>
			</dict>
			<key>GameCocosStudio/images_yqw/card/smallcard/red_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,41},{24,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,30}</string>
			</dict>
			<key>GameCocosStudio/images_yqw/card/smallcard/red_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,41},{24,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,30}</string>
			</dict>
			<key>GameCocosStudio/images_yqw/card/smallcard/red_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,41},{24,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,30}</string>
			</dict>
			<key>GameCocosStudio/images_yqw/card/smallcard/red_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,41},{24,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,30}</string>
			</dict>
			<key>GameCocosStudio/images_yqw/card/smallcard/red_13_ma.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,53},{24,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,30}</string>
			</dict>
			<key>GameCocosStudio/images_yqw/card/smallcard/red_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{323,1},{12,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{12,62}</string>
			</dict>
			<key>GameCocosStudio/images_yqw/card/smallcard/red_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,53},{24,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,30}</string>
			</dict>
			<key>GameCocosStudio/images_yqw/card/smallcard/red_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,53},{24,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,30}</string>
			</dict>
			<key>GameCocosStudio/images_yqw/card/smallcard/red_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,65},{24,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,30}</string>
			</dict>
			<key>GameCocosStudio/images_yqw/card/smallcard/red_4_ma.png</key>
			<dict>
				<key>frame</key>
				<string>{{55,55},{24,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,30}</string>
			</dict>
			<key>GameCocosStudio/images_yqw/card/smallcard/red_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,55},{24,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,30}</string>
			</dict>
			<key>GameCocosStudio/images_yqw/card/smallcard/red_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{119,55},{24,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,30}</string>
			</dict>
			<key>GameCocosStudio/images_yqw/card/smallcard/red_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,55},{24,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,30}</string>
			</dict>
			<key>GameCocosStudio/images_yqw/card/smallcard/red_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,57},{24,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,30}</string>
			</dict>
			<key>GameCocosStudio/images_yqw/card/smallcard/red_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,63},{24,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,30}</string>
			</dict>
			<key>GameCocosStudio/images_yqw/card/smallcard/red_9_ma.png</key>
			<dict>
				<key>frame</key>
				<string>{{55,81},{24,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,30}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>smallcard.png</string>
			<key>realTextureFileName</key>
			<string>smallcard.png</string>
			<key>size</key>
			<string>{512,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>