<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>sangong/card_player_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{113,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,150}</string>
			</dict>
			<key>sangong/card_player_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,150},{113,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,150}</string>
			</dict>
			<key>sangong/card_player_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,300},{113,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,150}</string>
			</dict>
			<key>sangong/card_player_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,450},{113,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,150}</string>
			</dict>
			<key>sangong/card_player_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,600},{113,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,150}</string>
			</dict>
			<key>sangong/card_player_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,750},{113,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,150}</string>
			</dict>
			<key>sangong/card_player_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,900},{113,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,150}</string>
			</dict>
			<key>sangong/card_player_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,0},{113,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,150}</string>
			</dict>
			<key>sangong/card_player_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,150},{113,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,150}</string>
			</dict>
			<key>sangong/card_player_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,300},{113,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,150}</string>
			</dict>
			<key>sangong/card_player_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,450},{113,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,150}</string>
			</dict>
			<key>sangong/card_player_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,600},{113,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,150}</string>
			</dict>
			<key>sangong/card_player_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,750},{113,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,150}</string>
			</dict>
			<key>sangong/card_player_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,900},{113,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,150}</string>
			</dict>
			<key>sangong/card_player_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,0},{113,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,150}</string>
			</dict>
			<key>sangong/card_player_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,113},{113,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,150}</string>
			</dict>
			<key>sangong/card_player_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,263},{113,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,150}</string>
			</dict>
			<key>sangong/card_player_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,413},{113,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,150}</string>
			</dict>
			<key>sangong/card_player_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,563},{113,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,150}</string>
			</dict>
			<key>sangong/card_player_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,713},{113,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,150}</string>
			</dict>
			<key>sangong/card_player_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,863},{113,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,150}</string>
			</dict>
			<key>sangong/card_player_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,113},{113,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,150}</string>
			</dict>
			<key>sangong/card_player_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{376,0},{113,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,150}</string>
			</dict>
			<key>sangong/card_player_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,226},{113,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,150}</string>
			</dict>
			<key>sangong/card_player_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,376},{113,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,150}</string>
			</dict>
			<key>sangong/card_player_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,526},{113,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,150}</string>
			</dict>
			<key>sangong/card_player_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,676},{113,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,150}</string>
			</dict>
			<key>sangong/card_player_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,826},{113,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,150}</string>
			</dict>
			<key>sangong/card_player_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,226},{113,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,150}</string>
			</dict>
			<key>sangong/card_player_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,113},{113,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,150}</string>
			</dict>
			<key>sangong/card_player_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{526,0},{113,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,150}</string>
			</dict>
			<key>sangong/card_player_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,339},{113,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,150}</string>
			</dict>
			<key>sangong/card_player_33.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,489},{113,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,150}</string>
			</dict>
			<key>sangong/card_player_34.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,639},{113,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,150}</string>
			</dict>
			<key>sangong/card_player_35.png</key>
			<dict>
				<key>frame</key>
				<string>{{526,789},{113,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,150}</string>
			</dict>
			<key>sangong/card_player_36.png</key>
			<dict>
				<key>frame</key>
				<string>{{565,339},{113,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,150}</string>
			</dict>
			<key>sangong/card_player_37.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,226},{113,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,150}</string>
			</dict>
			<key>sangong/card_player_38.png</key>
			<dict>
				<key>frame</key>
				<string>{{639,113},{113,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,150}</string>
			</dict>
			<key>sangong/card_player_39.png</key>
			<dict>
				<key>frame</key>
				<string>{{676,0},{113,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,150}</string>
			</dict>
			<key>sangong/card_player_40.png</key>
			<dict>
				<key>frame</key>
				<string>{{565,489},{113,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,150}</string>
			</dict>
			<key>sangong/card_player_41.png</key>
			<dict>
				<key>frame</key>
				<string>{{565,639},{113,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,150}</string>
			</dict>
			<key>sangong/card_player_42.png</key>
			<dict>
				<key>frame</key>
				<string>{{639,789},{113,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,150}</string>
			</dict>
			<key>sangong/card_player_43.png</key>
			<dict>
				<key>frame</key>
				<string>{{678,339},{113,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,150}</string>
			</dict>
			<key>sangong/card_player_44.png</key>
			<dict>
				<key>frame</key>
				<string>{{752,226},{113,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,150}</string>
			</dict>
			<key>sangong/card_player_45.png</key>
			<dict>
				<key>frame</key>
				<string>{{789,113},{113,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,150}</string>
			</dict>
			<key>sangong/card_player_46.png</key>
			<dict>
				<key>frame</key>
				<string>{{826,0},{113,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,150}</string>
			</dict>
			<key>sangong/card_player_47.png</key>
			<dict>
				<key>frame</key>
				<string>{{902,226},{113,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,150}</string>
			</dict>
			<key>sangong/card_player_48.png</key>
			<dict>
				<key>frame</key>
				<string>{{678,452},{113,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,150}</string>
			</dict>
			<key>sangong/card_player_49.png</key>
			<dict>
				<key>frame</key>
				<string>{{678,602},{113,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,150}</string>
			</dict>
			<key>sangong/card_player_50.png</key>
			<dict>
				<key>frame</key>
				<string>{{752,752},{113,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,150}</string>
			</dict>
			<key>sangong/card_player_51.png</key>
			<dict>
				<key>frame</key>
				<string>{{752,902},{113,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,150}</string>
			</dict>
			<key>sangong/card_player_52.png</key>
			<dict>
				<key>frame</key>
				<string>{{791,452},{113,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,150}</string>
			</dict>
			<key>sangong/card_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{791,565},{113,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,150}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>sangong_card.png</string>
			<key>realTextureFileName</key>
			<string>sangong_card.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>