<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>14_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{125,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,166}}</string>
                <key>sourceSize</key>
                <string>{125,166}</string>
            </dict>
            <key>14_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,498},{125,162}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{125,162}}</string>
                <key>sourceSize</key>
                <string>{125,166}</string>
            </dict>
            <key>14_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{125,162}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{125,162}}</string>
                <key>sourceSize</key>
                <string>{125,166}</string>
            </dict>
            <key>14_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,334},{125,162}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{125,162}}</string>
                <key>sourceSize</key>
                <string>{125,166}</string>
            </dict>
            <key>14_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{121,164}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{121,164}}</string>
                <key>sourceSize</key>
                <string>{125,166}</string>
            </dict>
            <key>14_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,828},{117,164}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{117,164}}</string>
                <key>sourceSize</key>
                <string>{125,166}</string>
            </dict>
            <key>14_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,662},{117,164}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{117,164}}</string>
                <key>sourceSize</key>
                <string>{125,166}</string>
            </dict>
            <key>14_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,832},{119,162}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{119,162}}</string>
                <key>sourceSize</key>
                <string>{125,166}</string>
            </dict>
            <key>14_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,668},{123,162}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{123,162}}</string>
                <key>sourceSize</key>
                <string>{125,166}</string>
            </dict>
            <key>14_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,170},{125,162}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{125,162}}</string>
                <key>sourceSize</key>
                <string>{125,166}</string>
            </dict>
            <key>14_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,2},{125,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,166}}</string>
                <key>sourceSize</key>
                <string>{125,166}</string>
            </dict>
            <key>14_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{125,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,166}}</string>
                <key>sourceSize</key>
                <string>{125,166}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_frame_14.png</string>
            <key>size</key>
            <string>{256,996}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:91619fe9ad1a58b863d452048d5c4dcc:1/1$</string>
            <key>textureFileName</key>
            <string>fish_frame_14.png</string>
        </dict>
    </dict>
</plist>
