<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>29_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,2},{267,360}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,360}}</string>
                <key>sourceSize</key>
                <string>{273,360}</string>
            </dict>
            <key>29_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,2},{267,360}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{267,360}}</string>
                <key>sourceSize</key>
                <string>{273,360}</string>
            </dict>
            <key>29_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,2},{265,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{265,360}}</string>
                <key>sourceSize</key>
                <string>{273,360}</string>
            </dict>
            <key>29_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,364},{261,360}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{261,360}}</string>
                <key>sourceSize</key>
                <string>{273,360}</string>
            </dict>
            <key>29_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,364},{261,360}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{261,360}}</string>
                <key>sourceSize</key>
                <string>{273,360}</string>
            </dict>
            <key>29_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1608,2},{263,360}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{263,360}}</string>
                <key>sourceSize</key>
                <string>{273,360}</string>
            </dict>
            <key>29_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1343,2},{263,360}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{263,360}}</string>
                <key>sourceSize</key>
                <string>{273,360}</string>
            </dict>
            <key>29_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,364},{261,360}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{261,360}}</string>
                <key>sourceSize</key>
                <string>{273,360}</string>
            </dict>
            <key>29_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{261,360}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{261,360}}</string>
                <key>sourceSize</key>
                <string>{273,360}</string>
            </dict>
            <key>29_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,364},{259,360}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{259,360}}</string>
                <key>sourceSize</key>
                <string>{273,360}</string>
            </dict>
            <key>29_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,2},{265,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{265,360}}</string>
                <key>sourceSize</key>
                <string>{273,360}</string>
            </dict>
            <key>29_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{267,360}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{267,360}}</string>
                <key>sourceSize</key>
                <string>{273,360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_frame_29.png</string>
            <key>size</key>
            <string>{1873,627}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6beadbe058d437d896433eb63de09a65:1/1$</string>
            <key>textureFileName</key>
            <string>fish_frame_29.png</string>
        </dict>
    </dict>
</plist>
