<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>26B_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1147,403},{227,399}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,399}}</string>
                <key>sourceSize</key>
                <string>{227,399}</string>
            </dict>
            <key>26B_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1147,2},{227,399}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,399}}</string>
                <key>sourceSize</key>
                <string>{227,399}</string>
            </dict>
            <key>26B_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,403},{227,399}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,399}}</string>
                <key>sourceSize</key>
                <string>{227,399}</string>
            </dict>
            <key>26B_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,2},{227,399}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,399}}</string>
                <key>sourceSize</key>
                <string>{227,399}</string>
            </dict>
            <key>26B_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,403},{227,399}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,399}}</string>
                <key>sourceSize</key>
                <string>{227,399}</string>
            </dict>
            <key>26B_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,2},{227,399}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,399}}</string>
                <key>sourceSize</key>
                <string>{227,399}</string>
            </dict>
            <key>26B_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,403},{227,399}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,399}}</string>
                <key>sourceSize</key>
                <string>{227,399}</string>
            </dict>
            <key>26B_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{227,399}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,399}}</string>
                <key>sourceSize</key>
                <string>{227,399}</string>
            </dict>
            <key>26B_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,403},{227,399}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,399}}</string>
                <key>sourceSize</key>
                <string>{227,399}</string>
            </dict>
            <key>26B_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,2},{227,399}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,399}}</string>
                <key>sourceSize</key>
                <string>{227,399}</string>
            </dict>
            <key>26B_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,403},{227,399}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,399}}</string>
                <key>sourceSize</key>
                <string>{227,399}</string>
            </dict>
            <key>26B_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{227,399}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,399}}</string>
                <key>sourceSize</key>
                <string>{227,399}</string>
            </dict>
            <key>26_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,2},{155,351}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,19},{155,351}}</string>
                <key>sourceSize</key>
                <string>{227,399}</string>
            </dict>
            <key>26_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1575,357},{165,361}}</string>
                <key>offset</key>
                <string>{-8,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,10},{165,361}}</string>
                <key>sourceSize</key>
                <string>{227,399}</string>
            </dict>
            <key>26_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1075,804},{177,365}}</string>
                <key>offset</key>
                <string>{-6,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,7},{177,365}}</string>
                <key>sourceSize</key>
                <string>{227,399}</string>
            </dict>
            <key>26_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,804},{189,361}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{189,361}}</string>
                <key>sourceSize</key>
                <string>{227,399}</string>
            </dict>
            <key>26_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,357},{197,351}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,21},{197,351}}</string>
                <key>sourceSize</key>
                <string>{227,399}</string>
            </dict>
            <key>26_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1579,2},{203,347}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,24},{203,347}}</string>
                <key>sourceSize</key>
                <string>{227,399}</string>
            </dict>
            <key>26_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{205,349}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,20},{205,349}}</string>
                <key>sourceSize</key>
                <string>{227,399}</string>
            </dict>
            <key>26_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,2},{201,353}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{201,353}}</string>
                <key>sourceSize</key>
                <string>{227,399}</string>
            </dict>
            <key>26_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,804},{189,357}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,7},{189,357}}</string>
                <key>sourceSize</key>
                <string>{227,399}</string>
            </dict>
            <key>26_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1742,355},{165,353}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,11},{165,353}}</string>
                <key>sourceSize</key>
                <string>{227,399}</string>
            </dict>
            <key>26_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,869},{143,345}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,21},{143,345}}</string>
                <key>sourceSize</key>
                <string>{227,399}</string>
            </dict>
            <key>26_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,720},{147,343}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,24},{147,343}}</string>
                <key>sourceSize</key>
                <string>{227,399}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_frame_26.png</string>
            <key>size</key>
            <string>{1941,1014}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:519dddf66080e8a5572753abaf5a0ec0:1/1$</string>
            <key>textureFileName</key>
            <string>fish_frame_26.png</string>
        </dict>
    </dict>
</plist>
