<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>25B_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,1110},{275,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,251}}</string>
                <key>sourceSize</key>
                <string>{275,251}</string>
            </dict>
            <key>25B_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,833},{275,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,251}}</string>
                <key>sourceSize</key>
                <string>{275,251}</string>
            </dict>
            <key>25B_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,556},{275,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,251}}</string>
                <key>sourceSize</key>
                <string>{275,251}</string>
            </dict>
            <key>25B_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,279},{275,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,251}}</string>
                <key>sourceSize</key>
                <string>{275,251}</string>
            </dict>
            <key>25B_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,2},{275,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,251}}</string>
                <key>sourceSize</key>
                <string>{275,251}</string>
            </dict>
            <key>25B_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1640},{275,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,251}}</string>
                <key>sourceSize</key>
                <string>{275,251}</string>
            </dict>
            <key>25B_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1387},{275,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,251}}</string>
                <key>sourceSize</key>
                <string>{275,251}</string>
            </dict>
            <key>25B_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1110},{275,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,251}}</string>
                <key>sourceSize</key>
                <string>{275,251}</string>
            </dict>
            <key>25B_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,833},{275,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,251}}</string>
                <key>sourceSize</key>
                <string>{275,251}</string>
            </dict>
            <key>25B_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,556},{275,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,251}}</string>
                <key>sourceSize</key>
                <string>{275,251}</string>
            </dict>
            <key>25B_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,279},{275,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,251}}</string>
                <key>sourceSize</key>
                <string>{275,251}</string>
            </dict>
            <key>25B_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{275,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,251}}</string>
                <key>sourceSize</key>
                <string>{275,251}</string>
            </dict>
            <key>25_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,1363},{223,193}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,28},{223,193}}</string>
                <key>sourceSize</key>
                <string>{275,251}</string>
            </dict>
            <key>25_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,1588},{221,195}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,27},{221,195}}</string>
                <key>sourceSize</key>
                <string>{275,251}</string>
            </dict>
            <key>25_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,1560},{207,195}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,28},{207,195}}</string>
                <key>sourceSize</key>
                <string>{275,251}</string>
            </dict>
            <key>25_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,2},{197,193}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,30},{197,193}}</string>
                <key>sourceSize</key>
                <string>{275,251}</string>
            </dict>
            <key>25_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,398},{191,195}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,29},{191,195}}</string>
                <key>sourceSize</key>
                <string>{275,251}</string>
            </dict>
            <key>25_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,595},{187,195}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,30},{187,195}}</string>
                <key>sourceSize</key>
                <string>{275,251}</string>
            </dict>
            <key>25_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,792},{187,193}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,32},{187,193}}</string>
                <key>sourceSize</key>
                <string>{275,251}</string>
            </dict>
            <key>25_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,987},{177,193}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,32},{177,193}}</string>
                <key>sourceSize</key>
                <string>{275,251}</string>
            </dict>
            <key>25_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,1785},{165,195}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,29},{165,195}}</string>
                <key>sourceSize</key>
                <string>{275,251}</string>
            </dict>
            <key>25_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,1769},{175,195}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,28},{175,195}}</string>
                <key>sourceSize</key>
                <string>{275,251}</string>
            </dict>
            <key>25_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,201},{193,195}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,28},{193,195}}</string>
                <key>sourceSize</key>
                <string>{275,251}</string>
            </dict>
            <key>25_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,1363},{213,195}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,27},{213,195}}</string>
                <key>sourceSize</key>
                <string>{275,251}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_frame_25.png</string>
            <key>size</key>
            <string>{711,1952}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eeed58bd57b9e4c0bd20fd44e98555e5:1/1$</string>
            <key>textureFileName</key>
            <string>fish_frame_25.png</string>
        </dict>
    </dict>
</plist>
