<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>12_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1487},{71,165}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{71,165}}</string>
                <key>sourceSize</key>
                <string>{93,165}</string>
            </dict>
            <key>12_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1815},{65,161}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{65,161}}</string>
                <key>sourceSize</key>
                <string>{93,165}</string>
            </dict>
            <key>12_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1654},{71,159}}</string>
                <key>offset</key>
                <string>{-10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{71,159}}</string>
                <key>sourceSize</key>
                <string>{93,165}</string>
            </dict>
            <key>12_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1326},{75,159}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{75,159}}</string>
                <key>sourceSize</key>
                <string>{93,165}</string>
            </dict>
            <key>12_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1163},{77,161}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{77,161}}</string>
                <key>sourceSize</key>
                <string>{93,165}</string>
            </dict>
            <key>12_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,996},{81,165}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,165}}</string>
                <key>sourceSize</key>
                <string>{93,165}</string>
            </dict>
            <key>12_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,497},{85,165}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{85,165}}</string>
                <key>sourceSize</key>
                <string>{93,165}</string>
            </dict>
            <key>12_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{85,165}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{85,165}}</string>
                <key>sourceSize</key>
                <string>{93,165}</string>
            </dict>
            <key>12_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,664},{85,163}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{85,163}}</string>
                <key>sourceSize</key>
                <string>{93,165}</string>
            </dict>
            <key>12_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,167},{87,161}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{87,161}}</string>
                <key>sourceSize</key>
                <string>{93,165}</string>
            </dict>
            <key>12_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{87,163}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{87,163}}</string>
                <key>sourceSize</key>
                <string>{93,165}</string>
            </dict>
            <key>12_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,829},{81,165}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{81,165}}</string>
                <key>sourceSize</key>
                <string>{93,165}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_frame_12.png</string>
            <key>size</key>
            <string>{91,1978}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f67148aebc8fe1a87f0ebe6153ec973:1/1$</string>
            <key>textureFileName</key>
            <string>fish_frame_12.png</string>
        </dict>
    </dict>
</plist>
