<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{50,112}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,3},{50,112}}</string>
                <key>sourceSize</key>
                <string>{106,126}</string>
            </dict>
            <key>6_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,2},{56,116}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{56,116}}</string>
                <key>sourceSize</key>
                <string>{106,126}</string>
            </dict>
            <key>6_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{62,114}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{62,114}}</string>
                <key>sourceSize</key>
                <string>{106,126}</string>
            </dict>
            <key>6_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{74,108}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{74,108}}</string>
                <key>sourceSize</key>
                <string>{106,126}</string>
            </dict>
            <key>6_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,2},{88,106}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{88,106}}</string>
                <key>sourceSize</key>
                <string>{106,126}</string>
            </dict>
            <key>6_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{106,94}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,29},{106,94}}</string>
                <key>sourceSize</key>
                <string>{106,126}</string>
            </dict>
            <key>6_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,2},{90,94}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,32},{90,94}}</string>
                <key>sourceSize</key>
                <string>{106,126}</string>
            </dict>
            <key>6_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,2},{64,104}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{64,104}}</string>
                <key>sourceSize</key>
                <string>{106,126}</string>
            </dict>
            <key>6_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{34,114}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,11},{34,114}}</string>
                <key>sourceSize</key>
                <string>{106,126}</string>
            </dict>
            <key>6_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{36,120}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,2},{36,120}}</string>
                <key>sourceSize</key>
                <string>{106,126}</string>
            </dict>
            <key>6_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{42,114}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,4},{42,114}}</string>
                <key>sourceSize</key>
                <string>{106,126}</string>
            </dict>
            <key>6_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{42,108}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,7},{42,108}}</string>
                <key>sourceSize</key>
                <string>{106,126}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_frame_6.png</string>
            <key>size</key>
            <string>{758,124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:62389d400395c4f85a3ceba9cd49a40d:1/1$</string>
            <key>textureFileName</key>
            <string>fish_frame_6.png</string>
        </dict>
    </dict>
</plist>
