<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>9_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,2},{123,105}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{123,105}}</string>
                <key>sourceSize</key>
                <string>{127,109}</string>
            </dict>
            <key>9_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{127,107}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,107}}</string>
                <key>sourceSize</key>
                <string>{127,109}</string>
            </dict>
            <key>9_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,2},{127,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{127,107}}</string>
                <key>sourceSize</key>
                <string>{127,109}</string>
            </dict>
            <key>9_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1053,2},{99,105}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{99,105}}</string>
                <key>sourceSize</key>
                <string>{127,109}</string>
            </dict>
            <key>9_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1233,2},{75,105}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,4},{75,105}}</string>
                <key>sourceSize</key>
                <string>{127,109}</string>
            </dict>
            <key>9_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,2},{77,105}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,4},{77,105}}</string>
                <key>sourceSize</key>
                <string>{127,109}</string>
            </dict>
            <key>9_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,2},{81,107}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,2},{81,107}}</string>
                <key>sourceSize</key>
                <string>{127,109}</string>
            </dict>
            <key>9_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,2},{91,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,1},{91,107}}</string>
                <key>sourceSize</key>
                <string>{127,109}</string>
            </dict>
            <key>9_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,2},{107,107}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{107,107}}</string>
                <key>sourceSize</key>
                <string>{127,109}</string>
            </dict>
            <key>9_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{127,107}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,107}}</string>
                <key>sourceSize</key>
                <string>{127,109}</string>
            </dict>
            <key>9_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{127,105}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,105}}</string>
                <key>sourceSize</key>
                <string>{127,109}</string>
            </dict>
            <key>9_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,2},{123,105}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{123,105}}</string>
                <key>sourceSize</key>
                <string>{127,109}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_frame_9.png</string>
            <key>size</key>
            <string>{1310,111}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d90c38958f9d449a9df91dbb3396bc8:1/1$</string>
            <key>textureFileName</key>
            <string>fish_frame_9.png</string>
        </dict>
    </dict>
</plist>
