<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>11_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,2},{90,106}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{90,106}}</string>
                <key>sourceSize</key>
                <string>{90,108}</string>
            </dict>
            <key>11_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{84,108}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{84,108}}</string>
                <key>sourceSize</key>
                <string>{90,108}</string>
            </dict>
            <key>11_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{70,108}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{70,108}}</string>
                <key>sourceSize</key>
                <string>{90,108}</string>
            </dict>
            <key>11_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{58,108}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{58,108}}</string>
                <key>sourceSize</key>
                <string>{90,108}</string>
            </dict>
            <key>11_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,2},{54,106}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,2},{54,106}}</string>
                <key>sourceSize</key>
                <string>{90,108}</string>
            </dict>
            <key>11_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,2},{56,106}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,2},{56,106}}</string>
                <key>sourceSize</key>
                <string>{90,108}</string>
            </dict>
            <key>11_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,2},{64,106}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{64,106}}</string>
                <key>sourceSize</key>
                <string>{90,108}</string>
            </dict>
            <key>11_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{72,108}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{72,108}}</string>
                <key>sourceSize</key>
                <string>{90,108}</string>
            </dict>
            <key>11_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{80,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{80,108}}</string>
                <key>sourceSize</key>
                <string>{90,108}</string>
            </dict>
            <key>11_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{86,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{86,108}}</string>
                <key>sourceSize</key>
                <string>{90,108}</string>
            </dict>
            <key>11_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,2},{90,106}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{90,106}}</string>
                <key>sourceSize</key>
                <string>{90,108}</string>
            </dict>
            <key>11_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,2},{90,106}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{90,106}}</string>
                <key>sourceSize</key>
                <string>{90,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_frame_11.png</string>
            <key>size</key>
            <string>{920,112}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea56de47da6f789e09625f0fe08e34e7:1/1$</string>
            <key>textureFileName</key>
            <string>fish_frame_11.png</string>
        </dict>
    </dict>
</plist>
