<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>xipai_13.png</key>
			<dict>
				<key>width</key>
				<integer>344</integer>
				<key>height</key>
				<integer>162</integer>
				<key>originalWidth</key>
				<integer>463</integer>
				<key>originalHeight</key>
				<integer>227</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-53.5</real>
				<key>offsetY</key>
				<real>16.5</real>
			</dict>
			<key>xipai_14.png</key>
			<dict>
				<key>width</key>
				<integer>347</integer>
				<key>height</key>
				<integer>162</integer>
				<key>originalWidth</key>
				<integer>463</integer>
				<key>originalHeight</key>
				<integer>227</integer>
				<key>x</key>
				<integer>345</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-53</real>
				<key>offsetY</key>
				<real>16.5</real>
			</dict>
			<key>xipai_15.png</key>
			<dict>
				<key>width</key>
				<integer>344</integer>
				<key>height</key>
				<integer>162</integer>
				<key>originalWidth</key>
				<integer>463</integer>
				<key>originalHeight</key>
				<integer>227</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>163</integer>
				<key>offsetX</key>
				<real>-53.5</real>
				<key>offsetY</key>
				<real>16.5</real>
			</dict>
			<key>xipai_16.png</key>
			<dict>
				<key>width</key>
				<integer>347</integer>
				<key>height</key>
				<integer>162</integer>
				<key>originalWidth</key>
				<integer>463</integer>
				<key>originalHeight</key>
				<integer>227</integer>
				<key>x</key>
				<integer>345</integer>
				<key>y</key>
				<integer>163</integer>
				<key>offsetX</key>
				<real>-53</real>
				<key>offsetY</key>
				<real>16.5</real>
			</dict>
			<key>xipai_17.png</key>
			<dict>
				<key>width</key>
				<integer>344</integer>
				<key>height</key>
				<integer>162</integer>
				<key>originalWidth</key>
				<integer>463</integer>
				<key>originalHeight</key>
				<integer>227</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>326</integer>
				<key>offsetX</key>
				<real>-53.5</real>
				<key>offsetY</key>
				<real>16.5</real>
			</dict>
			<key>xipai_18.png</key>
			<dict>
				<key>width</key>
				<integer>348</integer>
				<key>height</key>
				<integer>119</integer>
				<key>originalWidth</key>
				<integer>463</integer>
				<key>originalHeight</key>
				<integer>227</integer>
				<key>x</key>
				<integer>345</integer>
				<key>y</key>
				<integer>326</integer>
				<key>offsetX</key>
				<real>-51.5</real>
				<key>offsetY</key>
				<real>-5</real>
			</dict>
			<key>xipai_19.png</key>
			<dict>
				<key>width</key>
				<integer>346</integer>
				<key>height</key>
				<integer>133</integer>
				<key>originalWidth</key>
				<integer>463</integer>
				<key>originalHeight</key>
				<integer>227</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>489</integer>
				<key>offsetX</key>
				<real>-51.5</real>
				<key>offsetY</key>
				<real>4</real>
			</dict>
			<key>xipai_20.png</key>
			<dict>
				<key>width</key>
				<integer>346</integer>
				<key>height</key>
				<integer>149</integer>
				<key>originalWidth</key>
				<integer>463</integer>
				<key>originalHeight</key>
				<integer>227</integer>
				<key>x</key>
				<integer>347</integer>
				<key>y</key>
				<integer>489</integer>
				<key>offsetX</key>
				<real>-51.5</real>
				<key>offsetY</key>
				<real>14</real>
			</dict>
			<key>xipai_21.png</key>
			<dict>
				<key>width</key>
				<integer>346</integer>
				<key>height</key>
				<integer>165</integer>
				<key>originalWidth</key>
				<integer>463</integer>
				<key>originalHeight</key>
				<integer>227</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>639</integer>
				<key>offsetX</key>
				<real>-51.5</real>
				<key>offsetY</key>
				<real>23</real>
			</dict>
			<key>xipai_22.png</key>
			<dict>
				<key>width</key>
				<integer>348</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>463</integer>
				<key>originalHeight</key>
				<integer>227</integer>
				<key>x</key>
				<integer>347</integer>
				<key>y</key>
				<integer>639</integer>
				<key>offsetX</key>
				<real>-51.5</real>
				<key>offsetY</key>
				<real>13.5</real>
			</dict>
			<key>xipai_23.png</key>
			<dict>
				<key>width</key>
				<integer>349</integer>
				<key>height</key>
				<integer>172</integer>
				<key>originalWidth</key>
				<integer>463</integer>
				<key>originalHeight</key>
				<integer>227</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>805</integer>
				<key>offsetX</key>
				<real>-53</real>
				<key>offsetY</key>
				<real>23.5</real>
			</dict>
			<key>xipai_24.png</key>
			<dict>
				<key>width</key>
				<integer>350</integer>
				<key>height</key>
				<integer>156</integer>
				<key>originalWidth</key>
				<integer>463</integer>
				<key>originalHeight</key>
				<integer>227</integer>
				<key>x</key>
				<integer>350</integer>
				<key>y</key>
				<integer>805</integer>
				<key>offsetX</key>
				<real>-52.5</real>
				<key>offsetY</key>
				<real>13.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>xipai1.png</string>
			<key>realTextureFileName</key>
			<string>xipai1.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>