<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>game/bt_add_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1629,338},{95,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{95,46}</string>
			</dict>
			<key>game/bt_add_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1997,296},{95,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{95,46}</string>
			</dict>
			<key>game/bt_bank_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1972,1076},{91,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,69}</string>
			</dict>
			<key>game/bt_bank_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1972,1171},{91,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,69}</string>
			</dict>
			<key>game/bt_bg_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1997,395},{95,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{95,46}</string>
			</dict>
			<key>game/bt_bg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1629,437},{95,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{95,46}</string>
			</dict>
			<key>game/bt_check_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1575,491},{95,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{95,46}</string>
			</dict>
			<key>game/bt_check_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1625,536},{95,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{95,46}</string>
			</dict>
			<key>game/bt_setting_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1128},{88,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,89}</string>
			</dict>
			<key>game/bt_setting_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{94,1128},{88,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,89}</string>
			</dict>
			<key>game/bt_setting_changetable_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1554,590},{84,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,66}</string>
			</dict>
			<key>game/bt_setting_exit_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1554,678},{84,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,66}</string>
			</dict>
			<key>game/bt_setting_help_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1554,766},{84,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,66}</string>
			</dict>
			<key>game/bt_start_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1688,2},{175,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,134}</string>
			</dict>
			<key>game/bt_start_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1867,2},{175,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,134}</string>
			</dict>
			<key>game/bt_trend_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1971,1266},{91,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,69}</string>
			</dict>
			<key>game/bt_trend_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1971,1361},{91,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,69}</string>
			</dict>
			<key>game/im_1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1641,90},{58,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,36}</string>
			</dict>
			<key>game/im_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1641,152},{58,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,36}</string>
			</dict>
			<key>game/im_2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1641,214},{58,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,36}</string>
			</dict>
			<key>game/im_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1641,276},{58,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,36}</string>
			</dict>
			<key>game/im_3_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1624,635},{58,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,36}</string>
			</dict>
			<key>game/im_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1624,697},{58,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,36}</string>
			</dict>
			<key>game/im_4_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1624,759},{58,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,36}</string>
			</dict>
			<key>game/im_4_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1624,821},{58,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,36}</string>
			</dict>
			<key>game/im_5_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1624,883},{58,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,36}</string>
			</dict>
			<key>game/im_5_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1554,942},{58,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,36}</string>
			</dict>
			<key>game/im_6_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1980,791},{58,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,36}</string>
			</dict>
			<key>game/im_6_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1980,831},{58,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,36}</string>
			</dict>
			<key>game/im_7_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1980,871},{58,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,36}</string>
			</dict>
			<key>game/im_7_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1980,911},{58,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,36}</string>
			</dict>
			<key>game/im_8_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1616,945},{58,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,36}</string>
			</dict>
			<key>game/im_8_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1554,982},{58,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,36}</string>
			</dict>
			<key>game/im_9_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1616,1007},{58,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,36}</string>
			</dict>
			<key>game/im_9_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1554,1022},{58,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,36}</string>
			</dict>
			<key>game/im_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{1334,750}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1334,750}</string>
			</dict>
			<key>game/im_head_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1554,1126},{95,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{95,97}</string>
			</dict>
			<key>game/im_head_gold_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1980,951},{41,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{41,42}</string>
			</dict>
			<key>game/im_score_wan.png</key>
			<dict>
				<key>frame</key>
				<string>{{2018,140},{28,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,33}</string>
			</dict>
			<key>game/im_setting_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1396,2},{84,288}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,288}</string>
			</dict>
			<key>game/bt_add_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1995,494},{95,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{95,46}</string>
			</dict>
			<key>game/bt_bg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1995,593},{95,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{95,46}</string>
			</dict>
			<key>game/bt_check_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1991,692},{95,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{95,46}</string>
			</dict>
			<key>game/bt_start_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1396,90},{175,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,134}</string>
			</dict>
			<key>game/bt_stop_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1396,228},{175,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,134}</string>
			</dict>
			<key>game/bt_stop_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1681,140},{175,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,134}</string>
			</dict>
			<key>game/im_football_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1860,140},{152,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{152,154}</string>
			</dict>
			<key>game/im_football_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1681,278},{152,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{152,154}</string>
			</dict>
			<key>game/im_football_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1839,296},{152,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{152,154}</string>
			</dict>
			<key>game/im_football_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1679,434},{152,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{152,154}</string>
			</dict>
			<key>game/im_football_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1837,452},{152,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{152,154}</string>
			</dict>
			<key>game/im_football_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1675,590},{152,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{152,154}</string>
			</dict>
			<key>game/im_football_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1833,608},{152,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{152,154}</string>
			</dict>
			<key>game/im_football_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1396,504},{152,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{152,154}</string>
			</dict>
			<key>game/im_football_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1396,660},{152,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{152,154}</string>
			</dict>
			<key>game/im_football_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1664,746},{152,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{152,154}</string>
			</dict>
			<key>game/im_football_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1396,816},{152,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{152,154}</string>
			</dict>
			<key>game/im_football_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1396,972},{152,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{152,154}</string>
			</dict>
			<key>game/im_football_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1822,764},{152,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{152,154}</string>
			</dict>
			<key>game/im_football_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1664,902},{152,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{152,154}</string>
			</dict>
			<key>game/im_totalwin_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1340,2},{1052,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1052,52}</string>
			</dict>
			<key>game/bt_setting_music_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1554,854},{84,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,66}</string>
			</dict>
			<key>game/im_gold_wan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1980,996},{30,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,29}</string>
			</dict>
			<key>game/bt_start_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1396,366},{175,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,134}</string>
			</dict>
			<key>game/im_country_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1822,920},{152,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{152,154}</string>
			</dict>
			<key>game/im_country_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1656,1058},{152,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{152,154}</string>
			</dict>
			<key>game/im_country_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1814,1076},{152,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{152,154}</string>
			</dict>
			<key>game/im_country_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1655,1214},{152,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{152,154}</string>
			</dict>
			<key>game/im_country_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1813,1232},{152,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{152,154}</string>
			</dict>
			<key>game/im_country_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1456},{152,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,154}</string>
			</dict>
			<key>game/im_country_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1225},{152,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,154}</string>
			</dict>
			<key>game/im_country_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,756},{152,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,154}</string>
			</dict>
			<key>game/im_country_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,914},{152,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,154}</string>
			</dict>
			<key>game/im_country_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,756},{152,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,154}</string>
			</dict>
			<key>game/im_country_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,914},{152,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,154}</string>
			</dict>
			<key>game/im_country_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1614},{152,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,154}</string>
			</dict>
			<key>game/im_country_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1772},{152,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,154}</string>
			</dict>
			<key>game/im_country_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,1058},{152,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,154}</string>
			</dict>
			<key>game/im_start.png</key>
			<dict>
				<key>frame</key>
				<string>{{1575,90},{232,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{232,62}</string>
			</dict>
			<key>game/im_pool.png</key>
			<dict>
				<key>frame</key>
				<string>{{1554,1062},{60,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,29}</string>
			</dict>
			<key>game/im_totalwin_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{1575,326},{161,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{161,50}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>line9_game.png</string>
			<key>realTextureFileName</key>
			<string>line9_game.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>