<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card_type_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,102},{82,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,0},{82,48}}</string>
                <key>sourceSize</key>
                <string>{146,48}</string>
            </dict>
            <key>card_type_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,102},{82,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,0},{82,48}}</string>
                <key>sourceSize</key>
                <string>{146,48}</string>
            </dict>
            <key>card_type_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,152},{80,48}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{80,48}}</string>
                <key>sourceSize</key>
                <string>{146,48}</string>
            </dict>
            <key>card_type_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{82,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,0},{82,48}}</string>
                <key>sourceSize</key>
                <string>{146,48}</string>
            </dict>
            <key>card_type_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,153},{82,48}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{82,48}}</string>
                <key>sourceSize</key>
                <string>{146,48}</string>
            </dict>
            <key>card_type_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{146,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,48}}</string>
                <key>sourceSize</key>
                <string>{146,48}</string>
            </dict>
            <key>card_type_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,53},{118,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{118,48}}</string>
                <key>sourceSize</key>
                <string>{146,48}</string>
            </dict>
            <key>card_type_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,102},{84,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{84,48}}</string>
                <key>sourceSize</key>
                <string>{146,48}</string>
            </dict>
            <key>card_type_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{82,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,0},{82,48}}</string>
                <key>sourceSize</key>
                <string>{146,48}</string>
            </dict>
            <key>card_type_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,52},{84,48}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,0},{84,48}}</string>
                <key>sourceSize</key>
                <string>{146,48}</string>
            </dict>
            <key>card_type_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,103},{82,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,0},{82,48}}</string>
                <key>sourceSize</key>
                <string>{146,48}</string>
            </dict>
            <key>card_type_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,103},{82,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{82,48}}</string>
                <key>sourceSize</key>
                <string>{146,48}</string>
            </dict>
            <key>card_type_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,2},{120,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{120,48}}</string>
                <key>sourceSize</key>
                <string>{146,48}</string>
            </dict>
            <key>card_type_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{120,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{120,48}}</string>
                <key>sourceSize</key>
                <string>{146,48}</string>
            </dict>
            <key>card_type_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{116,48}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{116,48}}</string>
                <key>sourceSize</key>
                <string>{146,48}</string>
            </dict>
            <key>card_type_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,52},{118,48}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{118,48}}</string>
                <key>sourceSize</key>
                <string>{146,48}</string>
            </dict>
            <key>card_type_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,2},{84,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{84,48}}</string>
                <key>sourceSize</key>
                <string>{146,48}</string>
            </dict>
            <key>card_type_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{137,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,49}}</string>
                <key>sourceSize</key>
                <string>{137,49}</string>
            </dict>
            <key>point_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,202},{38,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{38,44}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>point_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,52},{38,16}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,13},{38,16}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>point_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,247},{40,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{40,38}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>point_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,233},{40,40}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{40,40}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>point_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,278},{42,40}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{42,40}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>point_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,238},{42,40}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{42,40}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>point_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,152},{42,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{42,44}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>point_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,233},{40,42}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{40,42}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>point_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,270},{40,44}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{40,44}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>point_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,236},{40,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{40,44}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>sanpai_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,228},{40,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{40,44}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>sanpai_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,196},{40,44}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{40,44}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>sanpai_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,194},{40,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{40,44}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>sanpai_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,186},{40,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{40,44}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>sanpai_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,202},{38,44}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{38,44}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>sanpai_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,187},{44,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{44,46}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>sanpai_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,203},{42,44}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{42,44}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>sanpai_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,152},{40,44}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{40,44}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>card_type.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e5e6da64064fc2516d3264e47c732ca$</string>
            <key>textureFileName</key>
            <string>card_type.png</string>
        </dict>
    </dict>
</plist>
