<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anim_egg_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,900},{191,100}}</string>
                <key>offset</key>
                <string>{-8,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,224},{191,100}}</string>
                <key>sourceSize</key>
                <string>{367,408}</string>
            </dict>
            <key>anim_egg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,900},{191,108}}</string>
                <key>offset</key>
                <string>{-8,-123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,273},{191,108}}</string>
                <key>sourceSize</key>
                <string>{367,408}</string>
            </dict>
            <key>anim_egg_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,752},{267,334}}</string>
                <key>offset</key>
                <string>{29,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,48},{267,334}}</string>
                <key>sourceSize</key>
                <string>{367,408}</string>
            </dict>
            <key>anim_egg_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,2},{245,334}}</string>
                <key>offset</key>
                <string>{19,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,48},{245,334}}</string>
                <key>sourceSize</key>
                <string>{367,408}</string>
            </dict>
            <key>anim_egg_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{317,380}}</string>
                <key>offset</key>
                <string>{-15,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{317,380}}</string>
                <key>sourceSize</key>
                <string>{367,408}</string>
            </dict>
            <key>anim_egg_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{317,366}}</string>
                <key>offset</key>
                <string>{-14,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,16},{317,366}}</string>
                <key>sourceSize</key>
                <string>{367,408}</string>
            </dict>
            <key>anim_egg_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,2},{317,352}}</string>
                <key>offset</key>
                <string>{-13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,30},{317,352}}</string>
                <key>sourceSize</key>
                <string>{367,408}</string>
            </dict>
            <key>anim_egg_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,356},{317,346}}</string>
                <key>offset</key>
                <string>{-11,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,43},{317,346}}</string>
                <key>sourceSize</key>
                <string>{367,408}</string>
            </dict>
            <key>anim_egg_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,562},{193,102}}</string>
                <key>offset</key>
                <string>{-8,-127}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,280},{193,102}}</string>
                <key>sourceSize</key>
                <string>{367,408}</string>
            </dict>
            <key>anim_egg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,562},{193,102}}</string>
                <key>offset</key>
                <string>{-8,-127}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,280},{193,102}}</string>
                <key>sourceSize</key>
                <string>{367,408}</string>
            </dict>
            <key>anim_egg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,920},{193,102}}</string>
                <key>offset</key>
                <string>{-7,-127}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,280},{193,102}}</string>
                <key>sourceSize</key>
                <string>{367,408}</string>
            </dict>
            <key>anim_egg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1552,2},{193,198}}</string>
                <key>offset</key>
                <string>{-8,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,184},{193,198}}</string>
                <key>sourceSize</key>
                <string>{367,408}</string>
            </dict>
            <key>anim_egg_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,725},{193,290}}</string>
                <key>offset</key>
                <string>{-8,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,92},{193,290}}</string>
                <key>sourceSize</key>
                <string>{367,408}</string>
            </dict>
            <key>anim_egg_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,666},{193,252}}</string>
                <key>offset</key>
                <string>{-8,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,130},{193,252}}</string>
                <key>sourceSize</key>
                <string>{367,408}</string>
            </dict>
            <key>anim_egg_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,751},{193,252}}</string>
                <key>offset</key>
                <string>{-8,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,130},{193,252}}</string>
                <key>sourceSize</key>
                <string>{367,408}</string>
            </dict>
            <key>anim_egg_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,2},{273,324}}</string>
                <key>offset</key>
                <string>{33,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,58},{273,324}}</string>
                <key>sourceSize</key>
                <string>{367,408}</string>
            </dict>
            <key>anim_egg_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,338},{273,326}}</string>
                <key>offset</key>
                <string>{33,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,56},{273,326}}</string>
                <key>sourceSize</key>
                <string>{367,408}</string>
            </dict>
            <key>anim_egg_effect_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,2},{214,212}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,13},{214,212}}</string>
                <key>sourceSize</key>
                <string>{254,234}</string>
            </dict>
            <key>anim_egg_effect_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,666},{232,210}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,15},{232,210}}</string>
                <key>sourceSize</key>
                <string>{254,234}</string>
            </dict>
            <key>anim_egg_effect_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1135,328},{226,214}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,12},{226,214}}</string>
                <key>sourceSize</key>
                <string>{254,234}</string>
            </dict>
            <key>anim_egg_effect_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,328},{232,218}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,11},{232,218}}</string>
                <key>sourceSize</key>
                <string>{254,234}</string>
            </dict>
            <key>anim_egg_effect_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1135,666},{226,210}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,15},{226,210}}</string>
                <key>sourceSize</key>
                <string>{254,234}</string>
            </dict>
            <key>anim_egg_effect_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1351,289},{212,204}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,19},{212,204}}</string>
                <key>sourceSize</key>
                <string>{254,234}</string>
            </dict>
            <key>anim_egg_effect_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1378,862},{208,150}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,42},{208,150}}</string>
                <key>sourceSize</key>
                <string>{254,234}</string>
            </dict>
            <key>anim_egg_effect_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,2},{216,174}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,27},{216,174}}</string>
                <key>sourceSize</key>
                <string>{254,234}</string>
            </dict>
            <key>anim_egg_effect_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1347,644},{216,208}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,2},{216,208}}</string>
                <key>sourceSize</key>
                <string>{254,234}</string>
            </dict>
            <key>anim_egg_effect_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1305,556},{220,86}}</string>
                <key>offset</key>
                <string>{-1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,54},{220,86}}</string>
                <key>sourceSize</key>
                <string>{254,234}</string>
            </dict>
            <key>anim_gold_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1231,220},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>anim_gold_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,220},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>anim_gold_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1309,963},{67,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{67,59}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>anim_gold_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,704},{67,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{67,45}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>anim_gold_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,704},{67,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{67,27}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>anim_gold_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,704},{67,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{67,19}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>anim_gold_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,704},{67,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{67,37}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>anim_gold_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,666},{67,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{67,53}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>anim_gold_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,220},{67,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{67,63}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>anim_gold_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1309,894},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>anim_1.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3f05c2f133e2bf10ac447ac740826ca:1/1$</string>
            <key>textureFileName</key>
            <string>anim_1.png</string>
        </dict>
    </dict>
</plist>
