<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>GameCocosStudio/images_yqw/png/game/aq_di.png</key>
      <dict>
        <key>frame</key>
        <string>{{707,93},{424,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{424,40}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/game/aq_green.png</key>
      <dict>
        <key>frame</key>
        <string>{{913,529},{46,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{46,46}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/game/aq_jc.png</key>
      <dict>
        <key>frame</key>
        <string>{{961,529},{46,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{46,46}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/game/aq_red.png</key>
      <dict>
        <key>frame</key>
        <string>{{913,577},{46,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{46,46}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/game/autoplay.png</key>
      <dict>
        <key>frame</key>
        <string>{{859,293},{90,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{90,90}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/game/btn_again_normal.png</key>
      <dict>
        <key>frame</key>
        <string>{{707,1},{200,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{200,90}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/game/btn_again_press.png</key>
      <dict>
        <key>frame</key>
        <string>{{909,1},{200,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{200,90}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/game/btnMenus.png</key>
      <dict>
        <key>frame</key>
        <string>{{749,365},{82,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{82,82}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/game/btnMenus_press.png</key>
      <dict>
        <key>frame</key>
        <string>{{833,385},{82,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{82,82}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/game/btnMenus0.png</key>
      <dict>
        <key>frame</key>
        <string>{{749,449},{82,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{82,82}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/game/btnMenus0_press.png</key>
      <dict>
        <key>frame</key>
        <string>{{917,445},{82,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{82,82}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/game/clock.png</key>
      <dict>
        <key>frame</key>
        <string>{{749,195},{90,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{90,96}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/game/clock_shadow.png</key>
      <dict>
        <key>frame</key>
        <string>{{851,189},{86,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{86,34}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/game/clockdy.png</key>
      <dict>
        <key>frame</key>
        <string>{{887,203},{88,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{88,96}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/game/game_paixing_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{1001,1},{86,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{86,17}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/game/game_teshupaidi_nomal.png</key>
      <dict>
        <key>frame</key>
        <string>{{749,93},{100,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/game/icon_battery.png</key>
      <dict>
        <key>frame</key>
        <string>{{1001,89},{46,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{46,20}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/game/icon_batterybg.png</key>
      <dict>
        <key>frame</key>
        <string>{{1001,137},{46,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{46,20}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/game/ink_text.png</key>
      <dict>
        <key>frame</key>
        <string>{{665,1},{446,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{446,40}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/game/mabg.png</key>
      <dict>
        <key>frame</key>
        <string>{{749,287},{108,76}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{108,76}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/game/mapai.png</key>
      <dict>
        <key>frame</key>
        <string>{{1001,185},{20,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{20,20}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/game/rule.png</key>
      <dict>
        <key>frame</key>
        <string>{{951,293},{64,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{64,74}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/game/rule_press.png</key>
      <dict>
        <key>frame</key>
        <string>{{951,369},{64,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{64,74}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/game/stamp.png</key>
      <dict>
        <key>frame</key>
        <string>{{521,1},{142,142}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{142,142}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/game/tableinfobg.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{518,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{518,40}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/game/time_d.png</key>
      <dict>
        <key>frame</key>
        <string>{{851,93},{94,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{94,40}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/game/zhanji.png</key>
      <dict>
        <key>frame</key>
        <string>{{833,469},{58,78}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{58,78}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/game/zhanji_press.png</key>
      <dict>
        <key>frame</key>
        <string>{{833,529},{58,78}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{58,78}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>textureFileName</key>
      <string>game.png</string>
      <key>realTextureFileName</key>
      <string>game.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
    </dict>
    <key>texture</key>
    <dict>
      <key>width</key>
      <integer>1024</integer>
      <key>height</key>
      <integer>1024</integer>
    </dict>
  </dict>
</plist>

