<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bottom_bet.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,321},{226,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,27}}</string>
                <key>sourceSize</key>
                <string>{226,27}</string>
            </dict>
            <key>bottom_bet_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,50},{166,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,27}}</string>
                <key>sourceSize</key>
                <string>{166,27}</string>
            </dict>
            <key>bottom_cut_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,198},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>bottom_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,281},{111,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,24}}</string>
                <key>sourceSize</key>
                <string>{111,24}</string>
            </dict>
            <key>bottom_guo_bet.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,79},{165,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,35}}</string>
                <key>sourceSize</key>
                <string>{165,35}</string>
            </dict>
            <key>bottom_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,511},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>bottom_menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{194,355}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,355}}</string>
                <key>sourceSize</key>
                <string>{194,355}</string>
            </dict>
            <key>bottom_rob_banker.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,451},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>btn_arrow_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,821},{57,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,58}}</string>
                <key>sourceSize</key>
                <string>{57,58}</string>
            </dict>
            <key>btn_arrow_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,761},{57,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,58}}</string>
                <key>sourceSize</key>
                <string>{57,58}</string>
            </dict>
            <key>btn_auto_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,177},{153,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,59}}</string>
                <key>sourceSize</key>
                <string>{153,59}</string>
            </dict>
            <key>btn_auto_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,116},{153,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,59}}</string>
                <key>sourceSize</key>
                <string>{153,59}</string>
            </dict>
            <key>btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,281},{126,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,53}}</string>
                <key>sourceSize</key>
                <string>{126,53}</string>
            </dict>
            <key>btn_bet_max_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,835},{208,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,59}}</string>
                <key>sourceSize</key>
                <string>{208,59}</string>
            </dict>
            <key>btn_bet_max_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,881},{208,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,59}}</string>
                <key>sourceSize</key>
                <string>{208,59}</string>
            </dict>
            <key>btn_bet_min_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,820},{208,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,59}}</string>
                <key>sourceSize</key>
                <string>{208,59}</string>
            </dict>
            <key>btn_bet_min_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,774},{208,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,59}}</string>
                <key>sourceSize</key>
                <string>{208,59}</string>
            </dict>
            <key>btn_buqiang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,535},{231,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,95}}</string>
                <key>sourceSize</key>
                <string>{231,95}</string>
            </dict>
            <key>btn_buqiang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,489},{231,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,95}}</string>
                <key>sourceSize</key>
                <string>{231,95}</string>
            </dict>
            <key>btn_buqie_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,487},{231,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,95}}</string>
                <key>sourceSize</key>
                <string>{231,95}</string>
            </dict>
            <key>btn_buqie_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,390},{231,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,95}}</string>
                <key>sourceSize</key>
                <string>{231,95}</string>
            </dict>
            <key>btn_cancel_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,392},{231,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,95}}</string>
                <key>sourceSize</key>
                <string>{231,95}</string>
            </dict>
            <key>btn_cancel_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,293},{231,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,95}}</string>
                <key>sourceSize</key>
                <string>{231,95}</string>
            </dict>
            <key>btn_card_heap_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,675},{82,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,96}}</string>
                <key>sourceSize</key>
                <string>{82,96}</string>
            </dict>
            <key>btn_card_heap_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,648},{82,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,96}}</string>
                <key>sourceSize</key>
                <string>{82,96}</string>
            </dict>
            <key>btn_chat_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,881},{82,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,83}}</string>
                <key>sourceSize</key>
                <string>{82,83}</string>
            </dict>
            <key>btn_chat_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,845},{82,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,83}}</string>
                <key>sourceSize</key>
                <string>{82,83}</string>
            </dict>
            <key>btn_exchange.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,332},{124,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,60}}</string>
                <key>sourceSize</key>
                <string>{124,60}</string>
            </dict>
            <key>btn_exchange_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{225,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,92}}</string>
                <key>sourceSize</key>
                <string>{225,92}</string>
            </dict>
            <key>btn_exchange_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,680},{225,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,92}}</string>
                <key>sourceSize</key>
                <string>{225,92}</string>
            </dict>
            <key>btn_exchange_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,584},{225,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,92}}</string>
                <key>sourceSize</key>
                <string>{225,92}</string>
            </dict>
            <key>btn_exchange_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,392},{124,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,60}}</string>
                <key>sourceSize</key>
                <string>{124,60}</string>
            </dict>
            <key>btn_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,336},{125,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,54}}</string>
                <key>sourceSize</key>
                <string>{125,54}</string>
            </dict>
            <key>btn_menu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,845},{82,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,83}}</string>
                <key>sourceSize</key>
                <string>{82,83}</string>
            </dict>
            <key>btn_menu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,761},{82,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,83}}</string>
                <key>sourceSize</key>
                <string>{82,83}</string>
            </dict>
            <key>btn_qieguo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{231,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,95}}</string>
                <key>sourceSize</key>
                <string>{231,95}</string>
            </dict>
            <key>btn_qieguo_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,295},{231,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,95}}</string>
                <key>sourceSize</key>
                <string>{231,95}</string>
            </dict>
            <key>btn_ready_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{225,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,92}}</string>
                <key>sourceSize</key>
                <string>{225,92}</string>
            </dict>
            <key>btn_ready_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,586},{225,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,92}}</string>
                <key>sourceSize</key>
                <string>{225,92}</string>
            </dict>
            <key>btn_rob_banker_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,341},{231,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,95}}</string>
                <key>sourceSize</key>
                <string>{231,95}</string>
            </dict>
            <key>btn_rob_banker_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{231,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,95}}</string>
                <key>sourceSize</key>
                <string>{231,95}</string>
            </dict>
            <key>btn_set.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,394},{123,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,55}}</string>
                <key>sourceSize</key>
                <string>{123,55}</string>
            </dict>
            <key>btn_tip_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,198},{231,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,95}}</string>
                <key>sourceSize</key>
                <string>{231,95}</string>
            </dict>
            <key>btn_tip_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,147},{231,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,95}}</string>
                <key>sourceSize</key>
                <string>{231,95}</string>
            </dict>
            <key>btn_voice_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,836},{82,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,83}}</string>
                <key>sourceSize</key>
                <string>{82,83}</string>
            </dict>
            <key>btn_voice_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,761},{82,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,83}}</string>
                <key>sourceSize</key>
                <string>{82,83}</string>
            </dict>
            <key>btn_yellow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{231,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,95}}</string>
                <key>sourceSize</key>
                <string>{231,95}</string>
            </dict>
            <key>btn_yellow_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,196},{231,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,95}}</string>
                <key>sourceSize</key>
                <string>{231,95}</string>
            </dict>
            <key>btn_zupaied_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,99},{231,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,95}}</string>
                <key>sourceSize</key>
                <string>{231,95}</string>
            </dict>
            <key>btn_zupaied_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,2},{231,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,95}}</string>
                <key>sourceSize</key>
                <string>{231,95}</string>
            </dict>
            <key>bubble_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,454},{115,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,55}}</string>
                <key>sourceSize</key>
                <string>{115,55}</string>
            </dict>
            <key>dian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,146},{13,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,16}}</string>
                <key>sourceSize</key>
                <string>{13,16}</string>
            </dict>
            <key>effect_give_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,1006},{59,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,62}}</string>
                <key>sourceSize</key>
                <string>{59,62}</string>
            </dict>
            <key>effect_lose.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,759},{86,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,75}}</string>
                <key>sourceSize</key>
                <string>{86,75}</string>
            </dict>
            <key>effect_ping.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,810},{85,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,77}}</string>
                <key>sourceSize</key>
                <string>{85,77}</string>
            </dict>
            <key>effect_rob.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,896},{58,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,62}}</string>
                <key>sourceSize</key>
                <string>{58,62}</string>
            </dict>
            <key>effect_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,929},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>effect_zupaied.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,238},{128,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,41}}</string>
                <key>sourceSize</key>
                <string>{128,41}</string>
            </dict>
            <key>guo.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,723},{85,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,94}}</string>
                <key>sourceSize</key>
                <string>{85,94}</string>
            </dict>
            <key>head_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,621},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>head_mask_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,573},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_banker.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,938},{66,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,67}}</string>
                <key>sourceSize</key>
                <string>{66,67}</string>
            </dict>
            <key>icon_banker_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,942},{193,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,206}}</string>
                <key>sourceSize</key>
                <string>{193,206}</string>
            </dict>
            <key>icon_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,293},{26,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,29}}</string>
                <key>sourceSize</key>
                <string>{26,29}</string>
            </dict>
            <key>icon_ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,584},{60,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,62}}</string>
                <key>sourceSize</key>
                <string>{60,62}</string>
            </dict>
            <key>icon_wait.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{408,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,46}}</string>
                <key>sourceSize</key>
                <string>{408,46}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,678},{209,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,81}}</string>
                <key>sourceSize</key>
                <string>{209,81}</string>
            </dict>
            <key>sb_s_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,896},{76,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,82}}</string>
                <key>sourceSize</key>
                <string>{76,82}</string>
            </dict>
            <key>sb_s_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,938},{76,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,82}}</string>
                <key>sourceSize</key>
                <string>{76,82}</string>
            </dict>
            <key>sb_s_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,972},{74,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,82}}</string>
                <key>sourceSize</key>
                <string>{76,82}</string>
            </dict>
            <key>sb_s_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,974},{76,80}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{76,80}}</string>
                <key>sourceSize</key>
                <string>{76,82}</string>
            </dict>
            <key>sb_s_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,920},{74,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,82}}</string>
                <key>sourceSize</key>
                <string>{76,82}</string>
            </dict>
            <key>sb_s_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,896},{74,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,82}}</string>
                <key>sourceSize</key>
                <string>{76,82}</string>
            </dict>
            <key>score_add_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,732},{204,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,83}}</string>
                <key>sourceSize</key>
                <string>{204,83}</string>
            </dict>
            <key>score_sub_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,889},{204,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,83}}</string>
                <key>sourceSize</key>
                <string>{204,83}</string>
            </dict>
            <key>tip_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,549},{88,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,34}}</string>
                <key>sourceSize</key>
                <string>{88,34}</string>
            </dict>
            <key>tip_in_bet.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,98},{46,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,17}}</string>
                <key>sourceSize</key>
                <string>{46,17}</string>
            </dict>
            <key>tip_in_rob_banker.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,50},{46,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,17}}</string>
                <key>sourceSize</key>
                <string>{46,17}</string>
            </dict>
            <key>tip_in_zupai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,2},{46,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,17}}</string>
                <key>sourceSize</key>
                <string>{46,17}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a6ad258e266719abfa7a99f9e018256$</string>
            <key>textureFileName</key>
            <string>game.png</string>
        </dict>
    </dict>
</plist>
