<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bottom_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,845},{287,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,89}}</string>
                <key>sourceSize</key>
                <string>{287,89}</string>
            </dict>
            <key>bottom_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,700},{455,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{455,59}}</string>
                <key>sourceSize</key>
                <string>{455,59}</string>
            </dict>
            <key>bottom_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,2},{209,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,48}}</string>
                <key>sourceSize</key>
                <string>{209,48}</string>
            </dict>
            <key>bottom_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,569},{98,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,78}}</string>
                <key>sourceSize</key>
                <string>{98,78}</string>
            </dict>
            <key>bottom_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,936},{265,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,48}}</string>
                <key>sourceSize</key>
                <string>{265,48}</string>
            </dict>
            <key>bottom_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,52},{177,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,48}}</string>
                <key>sourceSize</key>
                <string>{177,48}</string>
            </dict>
            <key>btn_applay_banker_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,163},{156,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,59}}</string>
                <key>sourceSize</key>
                <string>{156,59}</string>
            </dict>
            <key>btn_applay_banker_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,102},{156,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,59}}</string>
                <key>sourceSize</key>
                <string>{156,59}</string>
            </dict>
            <key>btn_back_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,561},{101,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,100}}</string>
                <key>sourceSize</key>
                <string>{101,100}</string>
            </dict>
            <key>btn_back_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,459},{101,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,100}}</string>
                <key>sourceSize</key>
                <string>{101,100}</string>
            </dict>
            <key>btn_bank_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,411},{156,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,59}}</string>
                <key>sourceSize</key>
                <string>{156,59}</string>
            </dict>
            <key>btn_bank_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,761},{156,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,59}}</string>
                <key>sourceSize</key>
                <string>{156,59}</string>
            </dict>
            <key>btn_bet_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,224},{116,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,121}}</string>
                <key>sourceSize</key>
                <string>{116,121}</string>
            </dict>
            <key>btn_bet_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,782},{116,115}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{116,115}}</string>
                <key>sourceSize</key>
                <string>{116,121}</string>
            </dict>
            <key>btn_bet_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,669},{116,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,121}}</string>
                <key>sourceSize</key>
                <string>{116,121}</string>
            </dict>
            <key>btn_bet_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,822},{116,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,121}}</string>
                <key>sourceSize</key>
                <string>{116,121}</string>
            </dict>
            <key>btn_bet_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,664},{116,115}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{116,115}}</string>
                <key>sourceSize</key>
                <string>{116,121}</string>
            </dict>
            <key>btn_bet_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,822},{116,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,121}}</string>
                <key>sourceSize</key>
                <string>{116,121}</string>
            </dict>
            <key>btn_bet_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,869},{116,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,121}}</string>
                <key>sourceSize</key>
                <string>{116,121}</string>
            </dict>
            <key>btn_bet_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,342},{116,115}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{116,115}}</string>
                <key>sourceSize</key>
                <string>{116,121}</string>
            </dict>
            <key>btn_bet_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,704},{116,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,121}}</string>
                <key>sourceSize</key>
                <string>{116,121}</string>
            </dict>
            <key>btn_bet_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,534},{116,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,121}}</string>
                <key>sourceSize</key>
                <string>{116,121}</string>
            </dict>
            <key>btn_bet_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,792},{116,115}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{116,115}}</string>
                <key>sourceSize</key>
                <string>{116,121}</string>
            </dict>
            <key>btn_bet_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,411},{116,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,121}}</string>
                <key>sourceSize</key>
                <string>{116,121}</string>
            </dict>
            <key>btn_bet_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,534},{116,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,121}}</string>
                <key>sourceSize</key>
                <string>{116,121}</string>
            </dict>
            <key>btn_bet_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,704},{116,115}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{116,115}}</string>
                <key>sourceSize</key>
                <string>{116,121}</string>
            </dict>
            <key>btn_bet_5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,411},{116,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,121}}</string>
                <key>sourceSize</key>
                <string>{116,121}</string>
            </dict>
            <key>btn_chip_exchange_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,224},{101,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,73}}</string>
                <key>sourceSize</key>
                <string>{101,73}</string>
            </dict>
            <key>btn_chip_exchange_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,940},{101,69}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{101,69}}</string>
                <key>sourceSize</key>
                <string>{101,73}</string>
            </dict>
            <key>btn_close_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,416},{39,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,43}}</string>
                <key>sourceSize</key>
                <string>{39,43}</string>
            </dict>
            <key>btn_close_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,52},{39,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,43}}</string>
                <key>sourceSize</key>
                <string>{39,43}</string>
            </dict>
            <key>btn_exit_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,448},{65,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,70}}</string>
                <key>sourceSize</key>
                <string>{65,70}</string>
            </dict>
            <key>btn_exit_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,348},{65,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,70}}</string>
                <key>sourceSize</key>
                <string>{65,70}</string>
            </dict>
            <key>btn_gailv.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,822},{135,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,45}}</string>
                <key>sourceSize</key>
                <string>{135,45}</string>
            </dict>
            <key>btn_help_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,900},{65,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,70}}</string>
                <key>sourceSize</key>
                <string>{65,70}</string>
            </dict>
            <key>btn_help_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,940},{65,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,70}}</string>
                <key>sourceSize</key>
                <string>{65,70}</string>
            </dict>
            <key>btn_jushu.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,657},{135,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,45}}</string>
                <key>sourceSize</key>
                <string>{135,45}</string>
            </dict>
            <key>btn_menu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,909},{99,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,96}}</string>
                <key>sourceSize</key>
                <string>{99,96}</string>
            </dict>
            <key>btn_menu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,909},{99,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,96}}</string>
                <key>sourceSize</key>
                <string>{99,96}</string>
            </dict>
            <key>btn_set_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,940},{65,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,70}}</string>
                <key>sourceSize</key>
                <string>{65,70}</string>
            </dict>
            <key>btn_set_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,102},{65,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,70}}</string>
                <key>sourceSize</key>
                <string>{65,70}</string>
            </dict>
            <key>card_type_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,351},{239,347}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,347}}</string>
                <key>sourceSize</key>
                <string>{239,347}</string>
            </dict>
            <key>card_type_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,2},{239,347}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,347}}</string>
                <key>sourceSize</key>
                <string>{239,347}</string>
            </dict>
            <key>card_type_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,351},{239,347}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,347}}</string>
                <key>sourceSize</key>
                <string>{239,347}</string>
            </dict>
            <key>card_type_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{239,347}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,347}}</string>
                <key>sourceSize</key>
                <string>{239,347}</string>
            </dict>
            <key>icon_effect.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{313,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,154}}</string>
                <key>sourceSize</key>
                <string>{313,154}</string>
            </dict>
            <key>record_type_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,583},{32,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,33}}</string>
                <key>sourceSize</key>
                <string>{32,33}</string>
            </dict>
            <key>record_type_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,548},{32,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,33}}</string>
                <key>sourceSize</key>
                <string>{32,33}</string>
            </dict>
            <key>record_type_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,548},{33,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,29}}</string>
                <key>sourceSize</key>
                <string>{33,29}</string>
            </dict>
            <key>record_type_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,284},{33,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,34}}</string>
                <key>sourceSize</key>
                <string>{33,34}</string>
            </dict>
            <key>record_type_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,457},{35,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,33}}</string>
                <key>sourceSize</key>
                <string>{35,33}</string>
            </dict>
            <key>record_type_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,987},{35,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,33}}</string>
                <key>sourceSize</key>
                <string>{35,33}</string>
            </dict>
            <key>title_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,986},{185,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,25}}</string>
                <key>sourceSize</key>
                <string>{185,25}</string>
            </dict>
            <key>title_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,986},{86,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,27}}</string>
                <key>sourceSize</key>
                <string>{86,27}</string>
            </dict>
            <key>title_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,657},{77,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,29}}</string>
                <key>sourceSize</key>
                <string>{77,29}</string>
            </dict>
            <key>title_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,216},{66,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,26}}</string>
                <key>sourceSize</key>
                <string>{66,26}</string>
            </dict>
            <key>title_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,420},{68,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,26}}</string>
                <key>sourceSize</key>
                <string>{68,26}</string>
            </dict>
            <key>title_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,520},{67,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,26}}</string>
                <key>sourceSize</key>
                <string>{67,26}</string>
            </dict>
            <key>title_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,348},{66,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,26}}</string>
                <key>sourceSize</key>
                <string>{66,26}</string>
            </dict>
            <key>title_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,972},{66,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,26}}</string>
                <key>sourceSize</key>
                <string>{66,26}</string>
            </dict>
            <key>title_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,195},{77,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,19}}</string>
                <key>sourceSize</key>
                <string>{77,19}</string>
            </dict>
            <key>title_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,459},{86,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,26}}</string>
                <key>sourceSize</key>
                <string>{86,26}</string>
            </dict>
            <key>title_end_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,243},{293,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,83}}</string>
                <key>sourceSize</key>
                <string>{293,83}</string>
            </dict>
            <key>title_end_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,940},{77,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,19}}</string>
                <key>sourceSize</key>
                <string>{77,19}</string>
            </dict>
            <key>title_free_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,158},{296,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,83}}</string>
                <key>sourceSize</key>
                <string>{296,83}</string>
            </dict>
            <key>title_free_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,174},{78,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,19}}</string>
                <key>sourceSize</key>
                <string>{78,19}</string>
            </dict>
            <key>title_start_bet_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,328},{293,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,81}}</string>
                <key>sourceSize</key>
                <string>{293,81}</string>
            </dict>
            <key>title_start_bet_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,327},{77,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,19}}</string>
                <key>sourceSize</key>
                <string>{77,19}</string>
            </dict>
            <key>title_stop_bet_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,761},{298,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,82}}</string>
                <key>sourceSize</key>
                <string>{298,82}</string>
            </dict>
            <key>title_stop_bet_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,987},{78,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,19}}</string>
                <key>sourceSize</key>
                <string>{78,19}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e7b274bbb9d41bac6d2d81b07e00faa$</string>
            <key>textureFileName</key>
            <string>game.png</string>
        </dict>
    </dict>
</plist>
