<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>GameCocosStudio/images_yqw/png/recordlist/renew.png</key>
      <dict>
        <key>frame</key>
        <string>{{301,1},{104,104}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{104,104}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/recordlist/title.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{466,126}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{466,126}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/recordlist/winner.png</key>
      <dict>
        <key>frame</key>
        <string>{{569,1},{90,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{90,80}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/recordlist/btn_back_normal.png</key>
      <dict>
        <key>frame</key>
        <string>{{301,107},{112,92}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{112,92}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/recordlist/btn_back_press.png</key>
      <dict>
        <key>frame</key>
        <string>{{395,107},{112,92}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{112,92}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/recordlist/btn_quan_normal.png</key>
      <dict>
        <key>frame</key>
        <string>{{407,1},{79,92}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{79,92}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/recordlist/btn_quan_press.png</key>
      <dict>
        <key>frame</key>
        <string>{{488,1},{79,92}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{79,92}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/recordlist/btn_wechat_normal.png</key>
      <dict>
        <key>frame</key>
        <string>{{471,221},{79,92}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{79,92}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/recordlist/btn_wechat_press.png</key>
      <dict>
        <key>frame</key>
        <string>{{489,95},{79,92}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{79,92}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/recordlist/btn_xu_disable.png</key>
      <dict>
        <key>frame</key>
        <string>{{129,389},{200,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{200,90}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/recordlist/btn_xu_normal.png</key>
      <dict>
        <key>frame</key>
        <string>{{269,249},{200,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{200,90}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/recordlist/btn_xu_press.png</key>
      <dict>
        <key>frame</key>
        <string>{{331,341},{200,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{200,90}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/recordlist/head.png</key>
      <dict>
        <key>frame</key>
        <string>{{129,249},{138,138}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{138,138}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/recordlist/houseowner.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,469},{70,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{70,34}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/recordlist/logo.png</key>
      <dict>
        <key>frame</key>
        <string>{{129,1},{246,170}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{246,170}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>textureFileName</key>
      <string>recordlist.png</string>
      <key>realTextureFileName</key>
      <string>recordlist.png</string>
      <key>size</key>
      <string>{1024,512}</string>
    </dict>
    <key>texture</key>
    <dict>
      <key>width</key>
      <integer>1024</integer>
      <key>height</key>
      <integer>512</integer>
    </dict>
  </dict>
</plist>

