<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>200_bt_match_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,754},{778,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{778,84}}</string>
                <key>sourceSize</key>
                <string>{778,84}</string>
            </dict>
            <key>200_bt_match_cancel_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,182},{323,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,88}}</string>
                <key>sourceSize</key>
                <string>{323,88}</string>
            </dict>
            <key>200_bt_match_cancel_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1663,92},{323,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,88}}</string>
                <key>sourceSize</key>
                <string>{323,88}</string>
            </dict>
            <key>200_bt_match_group_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,92},{323,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,88}}</string>
                <key>sourceSize</key>
                <string>{323,88}</string>
            </dict>
            <key>200_bt_match_group_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1663,2},{323,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,88}}</string>
                <key>sourceSize</key>
                <string>{323,88}</string>
            </dict>
            <key>200_bt_match_revive_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,2},{323,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,88}}</string>
                <key>sourceSize</key>
                <string>{323,88}</string>
            </dict>
            <key>200_bt_match_revive_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,1534},{323,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,88}}</string>
                <key>sourceSize</key>
                <string>{323,88}</string>
            </dict>
            <key>200_bt_match_signup_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,1946},{323,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,88}}</string>
                <key>sourceSize</key>
                <string>{323,88}</string>
            </dict>
            <key>200_bt_match_signup_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1948},{323,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,88}}</string>
                <key>sourceSize</key>
                <string>{323,88}</string>
            </dict>
            <key>200_bt_match_type_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,272},{282,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,70}}</string>
                <key>sourceSize</key>
                <string>{282,70}</string>
            </dict>
            <key>200_bt_match_type_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1955,302},{282,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,70}}</string>
                <key>sourceSize</key>
                <string>{282,70}</string>
            </dict>
            <key>200_bt_match_type_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,1874},{282,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,70}}</string>
                <key>sourceSize</key>
                <string>{282,70}</string>
            </dict>
            <key>200_im_match_bg_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1334,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,750}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>200_im_match_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{1192,453}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1192,453}}</string>
                <key>sourceSize</key>
                <string>{1192,453}</string>
            </dict>
            <key>200_im_match_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1634,634},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>200_im_match_circle_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1663,182},{259,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,290}}</string>
                <key>sourceSize</key>
                <string>{259,290}</string>
            </dict>
            <key>200_im_match_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2039},{5,412}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,412}}</string>
                <key>sourceSize</key>
                <string>{5,412}</string>
            </dict>
            <key>200_im_person_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,1948},{74,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,89}}</string>
                <key>sourceSize</key>
                <string>{74,89}</string>
            </dict>
            <key>200_im_person_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1663,443},{189,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,228}}</string>
                <key>sourceSize</key>
                <string>{189,228}</string>
            </dict>
            <key>200_im_person_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,463},{190,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,254}}</string>
                <key>sourceSize</key>
                <string>{190,254}</string>
            </dict>
            <key>200_txt_condition.png</key>
            <dict>
                <key>frame</key>
                <string>{{1836,792},{156,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,38}}</string>
                <key>sourceSize</key>
                <string>{156,38}</string>
            </dict>
            <key>200_txt_end_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{1876,760},{156,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,38}}</string>
                <key>sourceSize</key>
                <string>{156,38}</string>
            </dict>
            <key>200_txt_fee.png</key>
            <dict>
                <key>frame</key>
                <string>{{1836,634},{156,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,38}}</string>
                <key>sourceSize</key>
                <string>{156,38}</string>
            </dict>
            <key>200_txt_match_condition.png</key>
            <dict>
                <key>frame</key>
                <string>{{1594,647},{156,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,38}}</string>
                <key>sourceSize</key>
                <string>{156,38}</string>
            </dict>
            <key>200_txt_match_fee.png</key>
            <dict>
                <key>frame</key>
                <string>{{1893,443},{156,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,39}}</string>
                <key>sourceSize</key>
                <string>{156,39}</string>
            </dict>
            <key>200_txt_match_model.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,655},{155,38}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{155,38}}</string>
                <key>sourceSize</key>
                <string>{157,38}</string>
            </dict>
            <key>200_txt_match_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{1876,918},{155,38}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{155,38}}</string>
                <key>sourceSize</key>
                <string>{157,38}</string>
            </dict>
            <key>200_txt_match_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{1988,2},{298,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,39}}</string>
                <key>sourceSize</key>
                <string>{298,39}</string>
            </dict>
            <key>200_txt_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,272},{214,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,39}}</string>
                <key>sourceSize</key>
                <string>{214,39}</string>
            </dict>
            <key>200_txt_rank_style.png</key>
            <dict>
                <key>frame</key>
                <string>{{1594,488},{157,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,38}}</string>
                <key>sourceSize</key>
                <string>{157,38}</string>
            </dict>
            <key>200_txt_stop_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{1893,601},{157,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,38}}</string>
                <key>sourceSize</key>
                <string>{157,38}</string>
            </dict>
            <key>im_medal_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1933,730},{70,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,101}}</string>
                <key>sourceSize</key>
                <string>{70,101}</string>
            </dict>
            <key>im_medal_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1933,658},{70,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,101}}</string>
                <key>sourceSize</key>
                <string>{70,101}</string>
            </dict>
            <key>im_medal_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1934,586},{70,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,101}}</string>
                <key>sourceSize</key>
                <string>{70,101}</string>
            </dict>
            <key>im_medal_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,344},{264,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,117}}</string>
                <key>sourceSize</key>
                <string>{264,117}</string>
            </dict>
            <key>im_medal_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,754},{1118,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1118,117}}</string>
                <key>sourceSize</key>
                <string>{1118,117}</string>
            </dict>
            <key>txt_ex.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1948},{97,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{97,36}}</string>
                <key>sourceSize</key>
                <string>{101,36}</string>
            </dict>
            <key>txt_ingot.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,1948},{95,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{95,36}}</string>
                <key>sourceSize</key>
                <string>{101,36}</string>
            </dict>
            <key>txt_youxibi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1916,802},{101,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,36}}</string>
                <key>sourceSize</key>
                <string>{101,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>match_info_res.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e0c8536df37e2f6dc28b76ccc19f7ccd$</string>
            <key>textureFileName</key>
            <string>match_info_res.png</string>
        </dict>
    </dict>
</plist>
