<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>200_im_match_info_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1760,660},{245,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,96}}</string>
                <key>sourceSize</key>
                <string>{245,96}</string>
            </dict>
            <key>bt_match_quit_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1760,187},{191,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,64}}</string>
                <key>sourceSize</key>
                <string>{191,64}</string>
            </dict>
            <key>bt_match_quit_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1847,134},{191,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,64}}</string>
                <key>sourceSize</key>
                <string>{191,64}</string>
            </dict>
            <key>bt_match_share_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1847,68},{191,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,64}}</string>
                <key>sourceSize</key>
                <string>{191,64}</string>
            </dict>
            <key>bt_match_share_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1847,2},{191,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,64}}</string>
                <key>sourceSize</key>
                <string>{191,64}</string>
            </dict>
            <key>im_match_experience.png</key>
            <dict>
                <key>frame</key>
                <string>{{1760,1098},{149,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,127}}</string>
                <key>sourceSize</key>
                <string>{149,127}</string>
            </dict>
            <key>im_match_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,283},{153,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,115}}</string>
                <key>sourceSize</key>
                <string>{153,115}</string>
            </dict>
            <key>im_match_no_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,187},{1142,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1142,420}}</string>
                <key>sourceSize</key>
                <string>{1142,420}</string>
            </dict>
            <key>im_match_result_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,283},{1214,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1214,720}}</string>
                <key>sourceSize</key>
                <string>{1214,720}</string>
            </dict>
            <key>im_match_result_content.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,2},{507,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{507,183}}</string>
                <key>sourceSize</key>
                <string>{507,183}</string>
            </dict>
            <key>im_match_tip_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1334,279}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,279}}</string>
                <key>sourceSize</key>
                <string>{1334,279}</string>
            </dict>
            <key>im_match_type_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1760,758},{338,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,179}}</string>
                <key>sourceSize</key>
                <string>{338,179}</string>
            </dict>
            <key>im_match_type_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1826,320},{338,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,179}}</string>
                <key>sourceSize</key>
                <string>{338,179}</string>
            </dict>
            <key>txt_match_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{1826,260},{186,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,58}}</string>
                <key>sourceSize</key>
                <string>{186,58}</string>
            </dict>
            <key>txt_match_result_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1826,200},{200,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,58}}</string>
                <key>sourceSize</key>
                <string>{200,58}</string>
            </dict>
            <key>txt_match_reward.png</key>
            <dict>
                <key>frame</key>
                <string>{{2014,260},{123,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,29}}</string>
                <key>sourceSize</key>
                <string>{123,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>match_game_res.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3724a93b4d0ea1a085df9e2ed33959c2$</string>
            <key>textureFileName</key>
            <string>match_game_res.png</string>
        </dict>
    </dict>
</plist>
