<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishMove_019_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{100,364}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{100,364}}</string>
                <key>sourceSize</key>
                <string>{108,372}</string>
            </dict>
            <key>fishMove_019_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{90,368}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{90,368}}</string>
                <key>sourceSize</key>
                <string>{102,376}</string>
            </dict>
            <key>fishMove_019_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,1476},{94,364}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{94,364}}</string>
                <key>sourceSize</key>
                <string>{102,372}</string>
            </dict>
            <key>fishMove_019_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,368}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{96,368}}</string>
                <key>sourceSize</key>
                <string>{104,376}</string>
            </dict>
            <key>fishMove_019_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,372},{96,366}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{96,366}}</string>
                <key>sourceSize</key>
                <string>{104,372}</string>
            </dict>
            <key>fishMove_019_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1476},{94,364}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{94,364}}</string>
                <key>sourceSize</key>
                <string>{102,372}</string>
            </dict>
            <key>fishMove_019_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,742},{102,366}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{102,366}}</string>
                <key>sourceSize</key>
                <string>{108,374}</string>
            </dict>
            <key>fishMove_019_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,1110},{102,360}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{102,360}}</string>
                <key>sourceSize</key>
                <string>{110,366}</string>
            </dict>
            <key>fishMove_019_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1110},{96,364}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{96,364}}</string>
                <key>sourceSize</key>
                <string>{104,372}</string>
            </dict>
            <key>fishMove_020_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1075,320},{228,314}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{228,314}}</string>
                <key>sourceSize</key>
                <string>{228,326}</string>
            </dict>
            <key>fishMove_020_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,1615},{230,312}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{230,312}}</string>
                <key>sourceSize</key>
                <string>{230,314}</string>
            </dict>
            <key>fishMove_020_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,1297},{228,316}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,316}}</string>
                <key>sourceSize</key>
                <string>{228,316}</string>
            </dict>
            <key>fishMove_020_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,327},{226,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,322}}</string>
                <key>sourceSize</key>
                <string>{226,322}</string>
            </dict>
            <key>fishMove_020_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,1678},{216,324}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{216,324}}</string>
                <key>sourceSize</key>
                <string>{226,324}</string>
            </dict>
            <key>fishMove_020_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,327},{206,322}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{206,322}}</string>
                <key>sourceSize</key>
                <string>{208,322}</string>
            </dict>
            <key>fishMove_020_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,740},{206,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,328}}</string>
                <key>sourceSize</key>
                <string>{206,328}</string>
            </dict>
            <key>fishMove_020_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{204,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{204,322}}</string>
                <key>sourceSize</key>
                <string>{206,322}</string>
            </dict>
            <key>fishMove_020_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,1472},{214,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{214,328}}</string>
                <key>sourceSize</key>
                <string>{216,328}</string>
            </dict>
            <key>fishMove_020_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,326},{224,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{224,318}}</string>
                <key>sourceSize</key>
                <string>{226,318}</string>
            </dict>
            <key>fishMove_021_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,2},{224,314}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,314}}</string>
                <key>sourceSize</key>
                <string>{224,314}</string>
            </dict>
            <key>fishMove_021_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,2},{228,316}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{228,316}}</string>
                <key>sourceSize</key>
                <string>{228,318}</string>
            </dict>
            <key>fishMove_021_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,971},{226,316}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{226,316}}</string>
                <key>sourceSize</key>
                <string>{226,326}</string>
            </dict>
            <key>fishMove_021_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,651},{224,322}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{224,322}}</string>
                <key>sourceSize</key>
                <string>{224,324}</string>
            </dict>
            <key>fishMove_021_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,697},{216,326}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{216,326}}</string>
                <key>sourceSize</key>
                <string>{226,326}</string>
            </dict>
            <key>fishMove_021_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1842},{204,326}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{204,326}}</string>
                <key>sourceSize</key>
                <string>{228,326}</string>
            </dict>
            <key>fishMove_021_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,1352},{226,324}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{226,324}}</string>
                <key>sourceSize</key>
                <string>{226,326}</string>
            </dict>
            <key>fishMove_021_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1070},{224,326}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,326}}</string>
                <key>sourceSize</key>
                <string>{226,326}</string>
            </dict>
            <key>fishMove_021_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,975},{224,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,320}}</string>
                <key>sourceSize</key>
                <string>{224,320}</string>
            </dict>
            <key>fishMove_021_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,651},{224,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{224,318}}</string>
                <key>sourceSize</key>
                <string>{226,320}</string>
            </dict>
            <key>fishMove_022_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,1025},{209,325}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,325}}</string>
                <key>sourceSize</key>
                <string>{209,325}</string>
            </dict>
            <key>fishMove_022_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,368},{219,327}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,327}}</string>
                <key>sourceSize</key>
                <string>{219,327}</string>
            </dict>
            <key>fishMove_022_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,1802},{243,319}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{243,319}}</string>
                <key>sourceSize</key>
                <string>{245,321}</string>
            </dict>
            <key>fishMove_022_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,646},{233,315}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{233,315}}</string>
                <key>sourceSize</key>
                <string>{233,339}</string>
            </dict>
            <key>fishMove_022_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,2},{231,323}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,323}}</string>
                <key>sourceSize</key>
                <string>{231,323}</string>
            </dict>
            <key>fishMove_022_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,1398},{217,325}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,325}}</string>
                <key>sourceSize</key>
                <string>{217,325}</string>
            </dict>
            <key>fishMove_022_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{209,327}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,327}}</string>
                <key>sourceSize</key>
                <string>{209,327}</string>
            </dict>
            <key>fishMove_023_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1087,1289},{125,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,153}}</string>
                <key>sourceSize</key>
                <string>{125,153}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_move2.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9840a69b2963a0cbe7c6b758982b1024$</string>
            <key>textureFileName</key>
            <string>fish_move2.png</string>
        </dict>
    </dict>
</plist>
