<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>18_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{165,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,296}}</string>
                <key>sourceSize</key>
                <string>{165,296}</string>
            </dict>
            <key>18_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{165,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,296}}</string>
                <key>sourceSize</key>
                <string>{165,296}</string>
            </dict>
            <key>18_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,2},{163,292}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{163,292}}</string>
                <key>sourceSize</key>
                <string>{165,296}</string>
            </dict>
            <key>18_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,2},{157,288}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{157,288}}</string>
                <key>sourceSize</key>
                <string>{165,296}</string>
            </dict>
            <key>18_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,2},{143,288}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,5},{143,288}}</string>
                <key>sourceSize</key>
                <string>{165,296}</string>
            </dict>
            <key>18_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,161},{125,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,3},{125,290}}</string>
                <key>sourceSize</key>
                <string>{165,296}</string>
            </dict>
            <key>18_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,169},{107,294}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{107,294}}</string>
                <key>sourceSize</key>
                <string>{165,296}</string>
            </dict>
            <key>18_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,161},{99,292}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,1},{99,292}}</string>
                <key>sourceSize</key>
                <string>{165,296}</string>
            </dict>
            <key>18_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,167},{105,288}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,5},{105,288}}</string>
                <key>sourceSize</key>
                <string>{165,296}</string>
            </dict>
            <key>18_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,169},{117,286}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,7},{117,286}}</string>
                <key>sourceSize</key>
                <string>{165,296}</string>
            </dict>
            <key>18_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,147},{141,288}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{141,288}}</string>
                <key>sourceSize</key>
                <string>{165,296}</string>
            </dict>
            <key>18_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,2},{157,294}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{157,294}}</string>
                <key>sourceSize</key>
                <string>{165,296}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_frame_18.png</string>
            <key>size</key>
            <string>{1771,290}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5525f44e1a43f32bc80de756d7cdc98c:1/1$</string>
            <key>textureFileName</key>
            <string>fish_frame_18.png</string>
        </dict>
    </dict>
</plist>
