<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>31_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1637,2},{155,469}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{155,469}}</string>
                <key>sourceSize</key>
                <string>{163,485}</string>
            </dict>
            <key>31_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1482,2},{153,471}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,14},{153,471}}</string>
                <key>sourceSize</key>
                <string>{163,485}</string>
            </dict>
            <key>31_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1329,2},{151,473}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{151,473}}</string>
                <key>sourceSize</key>
                <string>{163,485}</string>
            </dict>
            <key>31_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1023,2},{147,475}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{147,475}}</string>
                <key>sourceSize</key>
                <string>{163,485}</string>
            </dict>
            <key>31_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,2},{141,479}}</string>
                <key>offset</key>
                <string>{-11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{141,479}}</string>
                <key>sourceSize</key>
                <string>{163,485}</string>
            </dict>
            <key>31_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,2},{137,483}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{137,483}}</string>
                <key>sourceSize</key>
                <string>{163,485}</string>
            </dict>
            <key>31_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,2},{139,485}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{139,485}}</string>
                <key>sourceSize</key>
                <string>{163,485}</string>
            </dict>
            <key>31_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{143,485}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{143,485}}</string>
                <key>sourceSize</key>
                <string>{163,485}</string>
            </dict>
            <key>31_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{147,483}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{147,483}}</string>
                <key>sourceSize</key>
                <string>{163,485}</string>
            </dict>
            <key>31_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,2},{149,479}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{149,479}}</string>
                <key>sourceSize</key>
                <string>{163,485}</string>
            </dict>
            <key>31_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,2},{151,475}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{151,475}}</string>
                <key>sourceSize</key>
                <string>{163,485}</string>
            </dict>
            <key>31_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,2},{155,473}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{155,473}}</string>
                <key>sourceSize</key>
                <string>{163,485}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_frame_31.png</string>
            <key>size</key>
            <string>{1794,489}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b861e34131382da5053494aad5447bfe:1/1$</string>
            <key>textureFileName</key>
            <string>fish_frame_31.png</string>
        </dict>
    </dict>
</plist>
