<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>21B_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1792,2},{177,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,287}}</string>
                <key>sourceSize</key>
                <string>{177,287}</string>
            </dict>
            <key>21B_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1613,2},{177,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,287}}</string>
                <key>sourceSize</key>
                <string>{177,287}</string>
            </dict>
            <key>21B_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1449,291},{177,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,287}}</string>
                <key>sourceSize</key>
                <string>{177,287}</string>
            </dict>
            <key>21B_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1434,2},{177,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,287}}</string>
                <key>sourceSize</key>
                <string>{177,287}</string>
            </dict>
            <key>21B_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1255,2},{177,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,287}}</string>
                <key>sourceSize</key>
                <string>{177,287}</string>
            </dict>
            <key>21B_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,2},{177,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,287}}</string>
                <key>sourceSize</key>
                <string>{177,287}</string>
            </dict>
            <key>21B_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,2},{177,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,287}}</string>
                <key>sourceSize</key>
                <string>{177,287}</string>
            </dict>
            <key>21B_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,2},{177,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,287}}</string>
                <key>sourceSize</key>
                <string>{177,287}</string>
            </dict>
            <key>21B_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,2},{177,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,287}}</string>
                <key>sourceSize</key>
                <string>{177,287}</string>
            </dict>
            <key>21B_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{177,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,287}}</string>
                <key>sourceSize</key>
                <string>{177,287}</string>
            </dict>
            <key>21B_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,2},{177,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,287}}</string>
                <key>sourceSize</key>
                <string>{177,287}</string>
            </dict>
            <key>21B_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{177,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,287}}</string>
                <key>sourceSize</key>
                <string>{177,287}</string>
            </dict>
            <key>21_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1738,291},{135,257}}</string>
                <key>offset</key>
                <string>{-4,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,1},{135,257}}</string>
                <key>sourceSize</key>
                <string>{177,287}</string>
            </dict>
            <key>21_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,291},{149,255}}</string>
                <key>offset</key>
                <string>{-4,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{149,255}}</string>
                <key>sourceSize</key>
                <string>{177,287}</string>
            </dict>
            <key>21_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,291},{147,251}}</string>
                <key>offset</key>
                <string>{-3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{147,251}}</string>
                <key>sourceSize</key>
                <string>{177,287}</string>
            </dict>
            <key>21_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,291},{139,251}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,8},{139,251}}</string>
                <key>sourceSize</key>
                <string>{177,287}</string>
            </dict>
            <key>21_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,291},{127,251}}</string>
                <key>offset</key>
                <string>{-3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,7},{127,251}}</string>
                <key>sourceSize</key>
                <string>{177,287}</string>
            </dict>
            <key>21_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,291},{123,253}}</string>
                <key>offset</key>
                <string>{-2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,4},{123,253}}</string>
                <key>sourceSize</key>
                <string>{177,287}</string>
            </dict>
            <key>21_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,291},{123,255}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,2},{123,255}}</string>
                <key>sourceSize</key>
                <string>{177,287}</string>
            </dict>
            <key>21_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,291},{123,253}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,3},{123,253}}</string>
                <key>sourceSize</key>
                <string>{177,287}</string>
            </dict>
            <key>21_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1199,291},{123,249}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,8},{123,249}}</string>
                <key>sourceSize</key>
                <string>{177,287}</string>
            </dict>
            <key>21_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1324,291},{123,247}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,10},{123,247}}</string>
                <key>sourceSize</key>
                <string>{177,287}</string>
            </dict>
            <key>21_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,291},{123,249}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,8},{123,249}}</string>
                <key>sourceSize</key>
                <string>{177,287}</string>
            </dict>
            <key>21_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,291},{125,253}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,4},{125,253}}</string>
                <key>sourceSize</key>
                <string>{177,287}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_frame_21.png</string>
            <key>size</key>
            <string>{1997,548}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b474058ebbf8648217ae834a8c84ec5:1/1$</string>
            <key>textureFileName</key>
            <string>fish_frame_21.png</string>
        </dict>
    </dict>
</plist>
