<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,233},{51,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,75}}</string>
                <key>sourceSize</key>
                <string>{51,75}</string>
            </dict>
            <key>4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,541},{45,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{45,75}}</string>
                <key>sourceSize</key>
                <string>{51,75}</string>
            </dict>
            <key>4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,847},{37,75}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{37,75}}</string>
                <key>sourceSize</key>
                <string>{51,75}</string>
            </dict>
            <key>4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,695},{39,73}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{39,73}}</string>
                <key>sourceSize</key>
                <string>{51,75}</string>
            </dict>
            <key>4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,387},{47,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{47,75}}</string>
                <key>sourceSize</key>
                <string>{51,75}</string>
            </dict>
            <key>4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{51,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,75}}</string>
                <key>sourceSize</key>
                <string>{51,75}</string>
            </dict>
            <key>4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,79},{51,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,75}}</string>
                <key>sourceSize</key>
                <string>{51,75}</string>
            </dict>
            <key>4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{45,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{45,75}}</string>
                <key>sourceSize</key>
                <string>{51,75}</string>
            </dict>
            <key>4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,770},{37,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{37,75}}</string>
                <key>sourceSize</key>
                <string>{51,75}</string>
            </dict>
            <key>4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{39,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{39,75}}</string>
                <key>sourceSize</key>
                <string>{51,75}</string>
            </dict>
            <key>4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{47,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{47,75}}</string>
                <key>sourceSize</key>
                <string>{51,75}</string>
            </dict>
            <key>4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{51,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,75}}</string>
                <key>sourceSize</key>
                <string>{51,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_frame_4.png</string>
            <key>size</key>
            <string>{55,924}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1ac3beedb57c109c36d5f4de76839765:1/1$</string>
            <key>textureFileName</key>
            <string>fish_frame_4.png</string>
        </dict>
    </dict>
</plist>
