<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>5_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{66,65}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,65}}</string>
                <key>sourceSize</key>
                <string>{68,65}</string>
            </dict>
            <key>5_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{64,65}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,65}}</string>
                <key>sourceSize</key>
                <string>{68,65}</string>
            </dict>
            <key>5_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,2},{60,65}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{60,65}}</string>
                <key>sourceSize</key>
                <string>{68,65}</string>
            </dict>
            <key>5_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,2},{60,65}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{60,65}}</string>
                <key>sourceSize</key>
                <string>{68,65}</string>
            </dict>
            <key>5_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{64,65}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{64,65}}</string>
                <key>sourceSize</key>
                <string>{68,65}</string>
            </dict>
            <key>5_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{66,65}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{66,65}}</string>
                <key>sourceSize</key>
                <string>{68,65}</string>
            </dict>
            <key>5_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,2},{66,63}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{66,63}}</string>
                <key>sourceSize</key>
                <string>{68,65}</string>
            </dict>
            <key>5_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{64,65}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{64,65}}</string>
                <key>sourceSize</key>
                <string>{68,65}</string>
            </dict>
            <key>5_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,2},{58,65}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{58,65}}</string>
                <key>sourceSize</key>
                <string>{68,65}</string>
            </dict>
            <key>5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,2},{58,65}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{58,65}}</string>
                <key>sourceSize</key>
                <string>{68,65}</string>
            </dict>
            <key>5_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{62,65}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{62,65}}</string>
                <key>sourceSize</key>
                <string>{68,65}</string>
            </dict>
            <key>5_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,65}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,65}}</string>
                <key>sourceSize</key>
                <string>{68,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_frame_5.png</string>
            <key>size</key>
            <string>{784,69}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dc3b0fd5688227b6449eccbc8be89047:1/1$</string>
            <key>textureFileName</key>
            <string>fish_frame_5.png</string>
        </dict>
    </dict>
</plist>
