<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>15_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{98,177}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{98,177}}</string>
                <key>sourceSize</key>
                <string>{112,177}</string>
            </dict>
            <key>15_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{106,177}}</string>
                <key>sourceSize</key>
                <string>{112,177}</string>
            </dict>
            <key>15_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{112,175}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{112,175}}</string>
                <key>sourceSize</key>
                <string>{112,177}</string>
            </dict>
            <key>15_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,2},{112,173}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{112,173}}</string>
                <key>sourceSize</key>
                <string>{112,177}</string>
            </dict>
            <key>15_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,2},{110,173}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{110,173}}</string>
                <key>sourceSize</key>
                <string>{112,177}</string>
            </dict>
            <key>15_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{100,175}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{100,175}}</string>
                <key>sourceSize</key>
                <string>{112,177}</string>
            </dict>
            <key>15_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{86,177}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{86,177}}</string>
                <key>sourceSize</key>
                <string>{112,177}</string>
            </dict>
            <key>15_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,181},{70,177}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{70,177}}</string>
                <key>sourceSize</key>
                <string>{112,177}</string>
            </dict>
            <key>15_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,179},{66,175}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,2},{66,175}}</string>
                <key>sourceSize</key>
                <string>{112,177}</string>
            </dict>
            <key>15_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,181},{70,173}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,4},{70,173}}</string>
                <key>sourceSize</key>
                <string>{112,177}</string>
            </dict>
            <key>15_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,114},{78,173}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,4},{78,173}}</string>
                <key>sourceSize</key>
                <string>{112,177}</string>
            </dict>
            <key>15_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,2},{86,175}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{86,175}}</string>
                <key>sourceSize</key>
                <string>{112,177}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_frame_15.png</string>
            <key>size</key>
            <string>{891,253}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b7d6616a0c91bd619c119d5686651b19:1/1$</string>
            <key>textureFileName</key>
            <string>fish_frame_15.png</string>
        </dict>
    </dict>
</plist>
