<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>sangong/priroom_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{1334,750}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1334,750}</string>
			</dict>
			<key>sangong/priroom_bg_bottom.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1569},{1334,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1334,89}</string>
			</dict>
			<key>sangong/priroom_bg_bottom_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{2016,1},{565,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{565,22}</string>
			</dict>
			<key>sangong/priroom_bg_center.png</key>
			<dict>
				<key>frame</key>
				<string>{{1337,1},{1334,497}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1334,497}</string>
			</dict>
			<key>sangong/priroom_bg_diamond.png</key>
			<dict>
				<key>frame</key>
				<string>{{1337,1569},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>sangong/priroom_bg_dot.png</key>
			<dict>
				<key>frame</key>
				<string>{{1836,1},{991,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{991,178}</string>
			</dict>
			<key>sangong/priroom_bg_gamepay.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1660},{178,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{178,38}</string>
			</dict>
			<key>sangong/priroom_bg_gamepw.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,1660},{178,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{178,38}</string>
			</dict>
			<key>sangong/priroom_bg_gameround.png</key>
			<dict>
				<key>frame</key>
				<string>{{361,1660},{178,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{178,38}</string>
			</dict>
			<key>sangong/priroom_bg_gamescore.png</key>
			<dict>
				<key>frame</key>
				<string>{{541,1660},{178,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{178,38}</string>
			</dict>
			<key>sangong/priroom_bg_gametype.png</key>
			<dict>
				<key>frame</key>
				<string>{{721,1660},{178,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{178,38}</string>
			</dict>
			<key>sangong/priroom_bg_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{1981,1684},{118,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,60}</string>
			</dict>
			<key>sangong/priroom_bg_top.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,753},{1334,750}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1334,750}</string>
			</dict>
			<key>sangong/priroom_bg_woman.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1708},{316,731}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{316,731}</string>
			</dict>
			<key>sangong/priroom_btn_agent_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1836,994},{282,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{282,92}</string>
			</dict>
			<key>sangong/priroom_btn_agent_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1930,994},{282,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{282,92}</string>
			</dict>
			<key>sangong/priroom_btn_back_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1417,1569},{73,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,65}</string>
			</dict>
			<key>sangong/priroom_btn_back_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1492,1569},{73,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,65}</string>
			</dict>
			<key>sangong/priroom_btn_back_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1705,1337},{163,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{163,100}</string>
			</dict>
			<key>sangong/priroom_btn_create_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1836,1278},{282,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{282,92}</string>
			</dict>
			<key>sangong/priroom_btn_create_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1930,1278},{282,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{282,92}</string>
			</dict>
			<key>sangong/priroom_choice__item_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1337,1337},{230,366}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{230,366}</string>
			</dict>
			<key>sangong/priroom_choice_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1505},{55,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,57}</string>
			</dict>
			<key>sangong/priroom_choice_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{58,1505},{55,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,57}</string>
			</dict>
			<key>sangong/priroom_choice_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1833,1562},{206,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,62}</string>
			</dict>
			<key>sangong/priroom_choice_item_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1705,1502},{204,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,68}</string>
			</dict>
			<key>sangong/priroom_choice_item_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1775,1696},{204,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,68}</string>
			</dict>
			<key>sangong/priroom_select_item_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1775,1502},{192,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,56}</string>
			</dict>
			<key>sangong/priroom_select_item_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1833,1626},{192,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,56}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>sangong_priroomcreate.png</string>
			<key>realTextureFileName</key>
			<string>sangong_priroomcreate.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>