<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>GameCocosStudio/images_yqw/plist/bottommenu/daxiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,99},{78,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,84}</string>
			</dict>
			<key>GameCocosStudio/images_yqw/plist/bottommenu/daxiao_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{693,99},{78,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,84}</string>
			</dict>
			<key>GameCocosStudio/images_yqw/plist/bottommenu/game_bottom.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,1},{200,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,96}</string>
			</dict>
			<key>GameCocosStudio/images_yqw/plist/bottommenu/game_CardTypeBtn_disable.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,69},{146,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{146,66}</string>
			</dict>
			<key>GameCocosStudio/images_yqw/plist/bottommenu/game_CardTypeBtn_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,69},{146,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{146,66}</string>
			</dict>
			<key>GameCocosStudio/images_yqw/plist/bottommenu/game_CardTypeBtn_push.png</key>
			<dict>
				<key>frame</key>
				<string>{{459,69},{146,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{146,66}</string>
			</dict>
			<key>GameCocosStudio/images_yqw/plist/bottommenu/game_CardTypeBtn_s_disable.png</key>
			<dict>
				<key>frame</key>
				<string>{{845,1},{160,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,66}</string>
			</dict>
			<key>GameCocosStudio/images_yqw/plist/bottommenu/game_CardTypeBtn_s_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{845,69},{160,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,66}</string>
			</dict>
			<key>GameCocosStudio/images_yqw/plist/bottommenu/game_CardTypeBtn_s_push.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,69},{160,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,66}</string>
			</dict>
			<key>GameCocosStudio/images_yqw/plist/bottommenu/game_duizi.png</key>
			<dict>
				<key>frame</key>
				<string>{{779,99},{121,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{121,41}</string>
			</dict>
			<key>GameCocosStudio/images_yqw/plist/bottommenu/game_duizi_dark.png</key>
			<dict>
				<key>frame</key>
				<string>{{906,217},{121,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{121,41}</string>
			</dict>
			<key>GameCocosStudio/images_yqw/plist/bottommenu/game_freebaipai.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,180},{66,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,50}</string>
			</dict>
			<key>GameCocosStudio/images_yqw/plist/bottommenu/game_freebaipaidark.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,223},{66,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,50}</string>
			</dict>
			<key>GameCocosStudio/images_yqw/plist/bottommenu/game_hulu.png</key>
			<dict>
				<key>frame</key>
				<string>{{949,217},{121,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{121,41}</string>
			</dict>
			<key>GameCocosStudio/images_yqw/plist/bottommenu/game_hulu_dark.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,137},{121,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,41}</string>
			</dict>
			<key>GameCocosStudio/images_yqw/plist/bottommenu/game_liandui.png</key>
			<dict>
				<key>frame</key>
				<string>{{124,137},{121,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,41}</string>
			</dict>
			<key>GameCocosStudio/images_yqw/plist/bottommenu/game_liandui_dark.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,137},{121,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,41}</string>
			</dict>
			<key>GameCocosStudio/images_yqw/plist/bottommenu/game_santiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{370,137},{121,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,41}</string>
			</dict>
			<key>GameCocosStudio/images_yqw/plist/bottommenu/game_santiao_dark.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,137},{121,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{121,41}</string>
			</dict>
			<key>GameCocosStudio/images_yqw/plist/bottommenu/game_shunzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,137},{121,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{121,41}</string>
			</dict>
			<key>GameCocosStudio/images_yqw/plist/bottommenu/game_shunzi_dark.png</key>
			<dict>
				<key>frame</key>
				<string>{{579,179},{121,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,41}</string>
			</dict>
			<key>GameCocosStudio/images_yqw/plist/bottommenu/game_tiezhi.png</key>
			<dict>
				<key>frame</key>
				<string>{{702,179},{121,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{121,41}</string>
			</dict>
			<key>GameCocosStudio/images_yqw/plist/bottommenu/game_tiezhi_dark.png</key>
			<dict>
				<key>frame</key>
				<string>{{745,222},{121,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{121,41}</string>
			</dict>
			<key>GameCocosStudio/images_yqw/plist/bottommenu/game_tonghua.png</key>
			<dict>
				<key>frame</key>
				<string>{{788,291},{121,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{121,41}</string>
			</dict>
			<key>GameCocosStudio/images_yqw/plist/bottommenu/game_tonghua_dark.png</key>
			<dict>
				<key>frame</key>
				<string>{{831,291},{121,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{121,41}</string>
			</dict>
			<key>GameCocosStudio/images_yqw/plist/bottommenu/game_tonghuashun.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,180},{118,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,41}</string>
			</dict>
			<key>GameCocosStudio/images_yqw/plist/bottommenu/game_tonghuashun_dark.png</key>
			<dict>
				<key>frame</key>
				<string>{{579,222},{121,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,41}</string>
			</dict>
			<key>GameCocosStudio/images_yqw/plist/bottommenu/game_wuba.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,340},{121,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,41}</string>
			</dict>
			<key>GameCocosStudio/images_yqw/plist/bottommenu/game_wuba_dark.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,383},{121,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,41}</string>
			</dict>
			<key>GameCocosStudio/images_yqw/plist/bottommenu/huase.png</key>
			<dict>
				<key>frame</key>
				<string>{{822,137},{78,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,84}</string>
			</dict>
			<key>GameCocosStudio/images_yqw/plist/bottommenu/huase_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{908,137},{78,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,84}</string>
			</dict>
			<key>GameCocosStudio/images_yqw/plist/bottommenu/shade.png</key>
			<dict>
				<key>frame</key>
				<string>{{822,217},{72,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,82}</string>
			</dict>
			<key>GameCocosStudio/images_yqw/plist/bottommenu/QuickBaiPaiBtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{319,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{319,66}</string>
			</dict>
			<key>GameCocosStudio/images_yqw/plist/bottommenu/QuickBaiPaiBtn_dark.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,1},{319,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{319,66}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>bottommenu.png</string>
			<key>realTextureFileName</key>
			<string>bottommenu.png</string>
			<key>size</key>
			<string>{1024,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>