<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>GameCocosStudio/images_yqw/plist/paidun/game_cancel.png</key>
      <dict>
        <key>frame</key>
        <string>{{2005,1},{64,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{64,32}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/plist/paidun/game_head.png</key>
      <dict>
        <key>frame</key>
        <string>{{857,353},{290,174}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{290,174}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/plist/paidun/game_head_focus.png</key>
      <dict>
        <key>frame</key>
        <string>{{1149,353},{290,174}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{290,174}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/plist/paidun/game_last.png</key>
      <dict>
        <key>frame</key>
        <string>{{857,1},{526,174}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{526,174}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/plist/paidun/game_last_focus.png</key>
      <dict>
        <key>frame</key>
        <string>{{1385,1},{526,174}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{526,174}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/plist/paidun/game_middle.png</key>
      <dict>
        <key>frame</key>
        <string>{{857,177},{486,174}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{486,174}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/plist/paidun/game_middle_focus.png</key>
      <dict>
        <key>frame</key>
        <string>{{1345,177},{486,174}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{486,174}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/plist/paidun/game_paidunBG.png</key>
      <dict>
        <key>frame</key>
        <string>{{1845,405},{100,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/plist/paidun/game_paidunBK.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{854,448}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{854,448}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/plist/paidun/game_revoke.png</key>
      <dict>
        <key>frame</key>
        <string>{{1833,177},{66,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{66,66}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/plist/paidun/game_revoke_press.png</key>
      <dict>
        <key>frame</key>
        <string>{{1833,245},{66,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{66,66}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/plist/paidun/game_sure.png</key>
      <dict>
        <key>frame</key>
        <string>{{2005,67},{64,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{64,32}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/plist/paidun/toudun.png</key>
      <dict>
        <key>frame</key>
        <string>{{2005,133},{52,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{52,26}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/plist/paidun/weidun.png</key>
      <dict>
        <key>frame</key>
        <string>{{2005,187},{52,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{52,26}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/plist/paidun/zhongdun.png</key>
      <dict>
        <key>frame</key>
        <string>{{1993,241},{52,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{52,26}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/plist/paidun/btn_cancel_normal.png</key>
      <dict>
        <key>frame</key>
        <string>{{1913,1},{200,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{200,90}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/plist/paidun/btn_cancel_press.png</key>
      <dict>
        <key>frame</key>
        <string>{{1901,203},{200,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{200,90}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/plist/paidun/btn_sure_normal.png</key>
      <dict>
        <key>frame</key>
        <string>{{1441,353},{200,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{200,90}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/plist/paidun/btn_sure_press.png</key>
      <dict>
        <key>frame</key>
        <string>{{1643,353},{200,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{200,90}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>textureFileName</key>
      <string>paidun.png</string>
      <key>realTextureFileName</key>
      <string>paidun.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
    </dict>
    <key>texture</key>
    <dict>
      <key>width</key>
      <integer>2048</integer>
      <key>height</key>
      <integer>1024</integer>
    </dict>
  </dict>
</plist>

