<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,131},{22,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,153}}</string>
                <key>sourceSize</key>
                <string>{22,153}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,131},{22,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,153}}</string>
                <key>sourceSize</key>
                <string>{22,153}</string>
            </dict>
            <key>b1.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,560},{27,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,46}}</string>
                <key>sourceSize</key>
                <string>{27,46}</string>
            </dict>
            <key>b10.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,527},{39,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,46}}</string>
                <key>sourceSize</key>
                <string>{39,46}</string>
            </dict>
            <key>b11.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,620},{21,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,46}}</string>
                <key>sourceSize</key>
                <string>{21,46}</string>
            </dict>
            <key>b12.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,240},{25,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,54}}</string>
                <key>sourceSize</key>
                <string>{25,54}</string>
            </dict>
            <key>b13.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,568},{25,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,46}}</string>
                <key>sourceSize</key>
                <string>{25,46}</string>
            </dict>
            <key>b2.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,553},{23,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,46}}</string>
                <key>sourceSize</key>
                <string>{23,46}</string>
            </dict>
            <key>b3.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,553},{23,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{23,46}}</string>
                <key>sourceSize</key>
                <string>{23,48}</string>
            </dict>
            <key>b4.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,547},{27,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,46}}</string>
                <key>sourceSize</key>
                <string>{27,46}</string>
            </dict>
            <key>b5.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,553},{23,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,46}}</string>
                <key>sourceSize</key>
                <string>{23,46}</string>
            </dict>
            <key>b6.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,507},{23,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,48}}</string>
                <key>sourceSize</key>
                <string>{23,48}</string>
            </dict>
            <key>b7.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,603},{21,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,46}}</string>
                <key>sourceSize</key>
                <string>{21,46}</string>
            </dict>
            <key>b8.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,637},{23,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,46}}</string>
                <key>sourceSize</key>
                <string>{23,46}</string>
            </dict>
            <key>b9.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,614},{23,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,46}}</string>
                <key>sourceSize</key>
                <string>{23,46}</string>
            </dict>
            <key>card_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,2},{127,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,181}}</string>
                <key>sourceSize</key>
                <string>{127,181}</string>
            </dict>
            <key>card_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{127,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,181}}</string>
                <key>sourceSize</key>
                <string>{127,181}</string>
            </dict>
            <key>card_club.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,429},{76,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,80}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>card_club_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,502},{43,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,46}}</string>
                <key>sourceSize</key>
                <string>{43,46}</string>
            </dict>
            <key>card_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,347},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>card_diamond_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,626},{43,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,44}}</string>
                <key>sourceSize</key>
                <string>{43,44}</string>
            </dict>
            <key>card_heart.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,158},{80,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,72}}</string>
                <key>sourceSize</key>
                <string>{80,72}</string>
            </dict>
            <key>card_heart_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,643},{43,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,42}}</string>
                <key>sourceSize</key>
                <string>{43,42}</string>
            </dict>
            <key>card_spade.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,267},{78,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,82}}</string>
                <key>sourceSize</key>
                <string>{78,82}</string>
            </dict>
            <key>card_spade_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,532},{43,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,46}}</string>
                <key>sourceSize</key>
                <string>{43,46}</string>
            </dict>
            <key>r1.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,531},{27,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,46}}</string>
                <key>sourceSize</key>
                <string>{27,46}</string>
            </dict>
            <key>r10.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,507},{39,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,46}}</string>
                <key>sourceSize</key>
                <string>{39,46}</string>
            </dict>
            <key>r11.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,600},{21,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,46}}</string>
                <key>sourceSize</key>
                <string>{21,46}</string>
            </dict>
            <key>r12.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,131},{25,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,54}}</string>
                <key>sourceSize</key>
                <string>{25,54}</string>
            </dict>
            <key>r13.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,555},{25,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,46}}</string>
                <key>sourceSize</key>
                <string>{25,46}</string>
            </dict>
            <key>r2.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,589},{23,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,46}}</string>
                <key>sourceSize</key>
                <string>{23,46}</string>
            </dict>
            <key>r3.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,601},{23,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{23,46}}</string>
                <key>sourceSize</key>
                <string>{23,48}</string>
            </dict>
            <key>r4.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,502},{27,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,46}}</string>
                <key>sourceSize</key>
                <string>{27,46}</string>
            </dict>
            <key>r5.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,589},{23,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,46}}</string>
                <key>sourceSize</key>
                <string>{23,46}</string>
            </dict>
            <key>r6.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,502},{23,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,48}}</string>
                <key>sourceSize</key>
                <string>{23,48}</string>
            </dict>
            <key>r7.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,577},{21,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,46}}</string>
                <key>sourceSize</key>
                <string>{21,46}</string>
            </dict>
            <key>r8.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,595},{23,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,46}}</string>
                <key>sourceSize</key>
                <string>{23,46}</string>
            </dict>
            <key>r9.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,576},{23,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,46}}</string>
                <key>sourceSize</key>
                <string>{23,46}</string>
            </dict>
            <key>role_0_J.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,351},{98,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,133}}</string>
                <key>sourceSize</key>
                <string>{98,133}</string>
            </dict>
            <key>role_0_K.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,357},{100,131}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,131}}</string>
                <key>sourceSize</key>
                <string>{100,133}</string>
            </dict>
            <key>role_0_Q.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{98,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{98,141}}</string>
                <key>sourceSize</key>
                <string>{102,141}</string>
            </dict>
            <key>role_1_J.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,549},{96,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,127}}</string>
                <key>sourceSize</key>
                <string>{96,127}</string>
            </dict>
            <key>role_1_K.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,404},{96,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,131}}</string>
                <key>sourceSize</key>
                <string>{96,131}</string>
            </dict>
            <key>role_1_Q.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,459},{88,129}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{88,129}}</string>
                <key>sourceSize</key>
                <string>{88,133}</string>
            </dict>
            <key>role_2_J.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,204},{96,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,139}}</string>
                <key>sourceSize</key>
                <string>{96,139}</string>
            </dict>
            <key>role_2_K.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,102},{100,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,139}}</string>
                <key>sourceSize</key>
                <string>{100,139}</string>
            </dict>
            <key>role_2_Q.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,253},{96,137}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{96,137}}</string>
                <key>sourceSize</key>
                <string>{96,143}</string>
            </dict>
            <key>role_3_J.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,253},{102,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,137}}</string>
                <key>sourceSize</key>
                <string>{102,137}</string>
            </dict>
            <key>role_3_K.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,451},{100,129}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,129}}</string>
                <key>sourceSize</key>
                <string>{100,131}</string>
            </dict>
            <key>role_3_Q.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,302},{100,133}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{100,133}}</string>
                <key>sourceSize</key>
                <string>{104,133}</string>
            </dict>
            <key>role_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,155},{96,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,144}}</string>
                <key>sourceSize</key>
                <string>{96,144}</string>
            </dict>
            <key>role_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,155},{96,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,144}}</string>
                <key>sourceSize</key>
                <string>{96,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>brnn_cards.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a7d38df1f6cfea8b7068c733d3696c27$</string>
            <key>textureFileName</key>
            <string>brnn_cards.png</string>
        </dict>
    </dict>
</plist>
