<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>GameCocosStudio/images_yqw/png/recodeach/title.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{400,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{400,90}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/recodeach/transverse.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,506},{40,4}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{40,4}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/recodeach/type1.png</key>
      <dict>
        <key>frame</key>
        <string>{{93,351},{150,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{150,42}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/recodeach/vertical.png</key>
      <dict>
        <key>frame</key>
        <string>{{43,506},{4,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{4,40}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/recodeach/yibeiqiang.png</key>
      <dict>
        <key>frame</key>
        <string>{{245,349},{112,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{112,42}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/recodeach/arrow_down.png</key>
      <dict>
        <key>frame</key>
        <string>{{239,489},{22,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{22,40}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/recodeach/arrow_up.png</key>
      <dict>
        <key>frame</key>
        <string>{{281,489},{22,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{22,40}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/recodeach/btn_goon_normal.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,403},{236,101}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{236,101}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/recodeach/btn_goon_press.png</key>
      <dict>
        <key>frame</key>
        <string>{{93,1},{236,101}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{236,101}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/recodeach/btn_hide_normal.png</key>
      <dict>
        <key>frame</key>
        <string>{{290,1},{64,92}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{64,92}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/recodeach/btn_hide_press.png</key>
      <dict>
        <key>frame</key>
        <string>{{205,219},{64,92}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{64,92}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/recodeach/btn_riffle_disable.png</key>
      <dict>
        <key>frame</key>
        <string>{{239,395},{122,92}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{122,92}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/recodeach/btn_riffle_normal.png</key>
      <dict>
        <key>frame</key>
        <string>{{196,1},{122,92}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{122,92}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/recodeach/btn_riffle_press.png</key>
      <dict>
        <key>frame</key>
        <string>{{196,125},{122,92}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{122,92}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/recodeach/cha.png</key>
      <dict>
        <key>frame</key>
        <string>{{271,219},{80,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{80,42}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/recodeach/di.png</key>
      <dict>
        <key>frame</key>
        <string>{{320,149},{40,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{40,40}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/recodeach/di_myself.png</key>
      <dict>
        <key>frame</key>
        <string>{{323,489},{20,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{20,20}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/recodeach/Gun2.png</key>
      <dict>
        <key>frame</key>
        <string>{{277,301},{80,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{80,42}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/recodeach/head_js.png</key>
      <dict>
        <key>frame</key>
        <string>{{93,239},{110,110}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{110,110}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/recodeach/houseowner.png</key>
      <dict>
        <key>frame</key>
        <string>{{205,313},{70,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{70,34}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/recodeach/huanlebi.png</key>
      <dict>
        <key>frame</key>
        <string>{{320,95},{44,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{44,52}</string>
      </dict>
      <key>GameCocosStudio/images_yqw/png/recodeach/lianhong.png</key>
      <dict>
        <key>frame</key>
        <string>{{315,219},{58,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{58,42}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>textureFileName</key>
      <string>recordeach.png</string>
      <key>realTextureFileName</key>
      <string>recordeach.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
    <key>texture</key>
    <dict>
      <key>width</key>
      <integer>512</integer>
      <key>height</key>
      <integer>512</integer>
    </dict>
  </dict>
</plist>

