<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wind_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{310,280}</string>
                <key>spriteSourceSize</key>
                <string>{310,280}</string>
                <key>textureRect</key>
                <string>{{1,1},{310,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wind_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{310,280}</string>
                <key>spriteSourceSize</key>
                <string>{310,280}</string>
                <key>textureRect</key>
                <string>{{313,1},{310,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wind_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{310,280}</string>
                <key>spriteSourceSize</key>
                <string>{310,280}</string>
                <key>textureRect</key>
                <string>{{625,1},{310,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wind_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{310,280}</string>
                <key>spriteSourceSize</key>
                <string>{310,280}</string>
                <key>textureRect</key>
                <string>{{1,283},{310,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wind_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{310,280}</string>
                <key>spriteSourceSize</key>
                <string>{310,280}</string>
                <key>textureRect</key>
                <string>{{313,283},{310,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wind_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{310,280}</string>
                <key>spriteSourceSize</key>
                <string>{310,280}</string>
                <key>textureRect</key>
                <string>{{625,283},{310,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wind_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{310,280}</string>
                <key>spriteSourceSize</key>
                <string>{310,280}</string>
                <key>textureRect</key>
                <string>{{1,565},{310,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wind_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{310,280}</string>
                <key>spriteSourceSize</key>
                <string>{310,280}</string>
                <key>textureRect</key>
                <string>{{313,565},{310,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>wind.png</string>
            <key>size</key>
            <string>{936,846}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc23c0f6631418a55ee7666856df1372:809f01f502e5a911b578cbabfaa643b7:5f051b70d6983df23ae320420545ef25$</string>
            <key>textureFileName</key>
            <string>wind.png</string>
        </dict>
    </dict>
</plist>
