<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>102.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,622},{55,139}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,21},{55,139}}</string>
                <key>sourceSize</key>
                <string>{105,191}</string>
            </dict>
            <key>102_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,485},{139,55}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,19},{139,55}}</string>
                <key>sourceSize</key>
                <string>{181,105}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,109},{21,139}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,21},{21,139}}</string>
                <key>sourceSize</key>
                <string>{105,191}</string>
            </dict>
            <key>17_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,250},{139,21}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,36},{139,21}}</string>
                <key>sourceSize</key>
                <string>{181,105}</string>
            </dict>
            <key>18.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,565},{55,139}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,21},{55,139}}</string>
                <key>sourceSize</key>
                <string>{105,191}</string>
            </dict>
            <key>18_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,679},{139,53}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,20},{139,53}}</string>
                <key>sourceSize</key>
                <string>{181,105}</string>
            </dict>
            <key>19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,565},{55,139}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,21},{55,139}}</string>
                <key>sourceSize</key>
                <string>{105,191}</string>
            </dict>
            <key>19_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,428},{139,55}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,18},{139,55}}</string>
                <key>sourceSize</key>
                <string>{181,105}</string>
            </dict>
            <key>20.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,656},{55,139}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,21},{55,139}}</string>
                <key>sourceSize</key>
                <string>{105,191}</string>
            </dict>
            <key>20_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,337},{139,55}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,19},{139,55}}</string>
                <key>sourceSize</key>
                <string>{181,105}</string>
            </dict>
            <key>21.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,732},{53,139}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,21},{53,139}}</string>
                <key>sourceSize</key>
                <string>{105,191}</string>
            </dict>
            <key>21_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,677},{139,53}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,20},{139,53}}</string>
                <key>sourceSize</key>
                <string>{181,105}</string>
            </dict>
            <key>22.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,599},{55,139}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,21},{55,139}}</string>
                <key>sourceSize</key>
                <string>{105,191}</string>
            </dict>
            <key>22_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,337},{139,55}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,19},{139,55}}</string>
                <key>sourceSize</key>
                <string>{181,105}</string>
            </dict>
            <key>34.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,542},{55,139}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,21},{55,139}}</string>
                <key>sourceSize</key>
                <string>{105,191}</string>
            </dict>
            <key>34_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,280},{139,55}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,18},{139,55}}</string>
                <key>sourceSize</key>
                <string>{181,105}</string>
            </dict>
            <key>36.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,532},{55,139}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,21},{55,139}}</string>
                <key>sourceSize</key>
                <string>{105,191}</string>
            </dict>
            <key>36_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{139,55}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,19},{139,55}}</string>
                <key>sourceSize</key>
                <string>{181,105}</string>
            </dict>
            <key>37.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,508},{55,139}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,21},{55,139}}</string>
                <key>sourceSize</key>
                <string>{105,191}</string>
            </dict>
            <key>37_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,371},{139,55}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,19},{139,55}}</string>
                <key>sourceSize</key>
                <string>{181,105}</string>
            </dict>
            <key>38.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{55,139}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,21},{55,139}}</string>
                <key>sourceSize</key>
                <string>{105,191}</string>
            </dict>
            <key>38_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,314},{139,55}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,19},{139,55}}</string>
                <key>sourceSize</key>
                <string>{181,105}</string>
            </dict>
            <key>50.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,451},{55,139}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,21},{55,139}}</string>
                <key>sourceSize</key>
                <string>{105,191}</string>
            </dict>
            <key>50_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,257},{139,55}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,19},{139,55}}</string>
                <key>sourceSize</key>
                <string>{181,105}</string>
            </dict>
            <key>51.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,451},{55,139}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,21},{55,139}}</string>
                <key>sourceSize</key>
                <string>{105,191}</string>
            </dict>
            <key>51_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,223},{139,55}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,19},{139,55}}</string>
                <key>sourceSize</key>
                <string>{181,105}</string>
            </dict>
            <key>52.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,394},{55,139}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,21},{55,139}}</string>
                <key>sourceSize</key>
                <string>{105,191}</string>
            </dict>
            <key>52_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,223},{139,55}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,19},{139,55}}</string>
                <key>sourceSize</key>
                <string>{181,105}</string>
            </dict>
            <key>53.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{55,139}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,21},{55,139}}</string>
                <key>sourceSize</key>
                <string>{105,191}</string>
            </dict>
            <key>53_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,166},{139,55}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,19},{139,55}}</string>
                <key>sourceSize</key>
                <string>{181,105}</string>
            </dict>
            <key>54.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,391},{55,139}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,21},{55,139}}</string>
                <key>sourceSize</key>
                <string>{105,191}</string>
            </dict>
            <key>54_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{139,55}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,19},{139,55}}</string>
                <key>sourceSize</key>
                <string>{181,105}</string>
            </dict>
            <key>68.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,250},{55,139}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,21},{55,139}}</string>
                <key>sourceSize</key>
                <string>{105,191}</string>
            </dict>
            <key>68_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,200},{139,55}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,19},{139,55}}</string>
                <key>sourceSize</key>
                <string>{181,105}</string>
            </dict>
            <key>69.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,109},{55,139}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,21},{55,139}}</string>
                <key>sourceSize</key>
                <string>{105,191}</string>
            </dict>
            <key>69_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,143},{139,55}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,19},{139,55}}</string>
                <key>sourceSize</key>
                <string>{181,105}</string>
            </dict>
            <key>70.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,2},{55,139}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,21},{55,139}}</string>
                <key>sourceSize</key>
                <string>{105,191}</string>
            </dict>
            <key>70_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,109},{139,55}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,19},{139,55}}</string>
                <key>sourceSize</key>
                <string>{181,105}</string>
            </dict>
            <key>85.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,673},{53,139}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,21},{53,139}}</string>
                <key>sourceSize</key>
                <string>{105,191}</string>
            </dict>
            <key>85_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,622},{139,53}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,20},{139,53}}</string>
                <key>sourceSize</key>
                <string>{181,105}</string>
            </dict>
            <key>86.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{55,139}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,21},{55,139}}</string>
                <key>sourceSize</key>
                <string>{105,191}</string>
            </dict>
            <key>86_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,109},{139,55}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,19},{139,55}}</string>
                <key>sourceSize</key>
                <string>{181,105}</string>
            </dict>
            <key>card_back_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{105,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,191}}</string>
                <key>sourceSize</key>
                <string>{105,191}</string>
            </dict>
            <key>card_back_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,2},{181,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,105}}</string>
                <key>sourceSize</key>
                <string>{181,105}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>card.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:79fefedabdf4e19b2b56691b1da3b436$</string>
            <key>textureFileName</key>
            <string>card.png</string>
        </dict>
    </dict>
</plist>
