<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>call_point_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,88},{64,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,56}}</string>
                <key>sourceSize</key>
                <string>{64,56}</string>
            </dict>
            <key>call_point_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,344},{44,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,38}}</string>
                <key>sourceSize</key>
                <string>{44,38}</string>
            </dict>
            <key>call_point_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{84,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,64}}</string>
                <key>sourceSize</key>
                <string>{84,64}</string>
            </dict>
            <key>call_point_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,365},{98,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,78}}</string>
                <key>sourceSize</key>
                <string>{98,78}</string>
            </dict>
            <key>call_point_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,344},{104,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,94}}</string>
                <key>sourceSize</key>
                <string>{104,94}</string>
            </dict>
            <key>call_point_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,246},{114,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,96}}</string>
                <key>sourceSize</key>
                <string>{114,96}</string>
            </dict>
            <key>call_point_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,388},{54,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{54,48}}</string>
                <key>sourceSize</key>
                <string>{66,50}</string>
            </dict>
            <key>call_point_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,388},{54,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{54,48}}</string>
                <key>sourceSize</key>
                <string>{66,50}</string>
            </dict>
            <key>call_point_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,148},{114,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,96}}</string>
                <key>sourceSize</key>
                <string>{114,96}</string>
            </dict>
            <key>call_point_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,340},{60,46}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{60,46}}</string>
                <key>sourceSize</key>
                <string>{72,48}</string>
            </dict>
            <key>call_point_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,340},{60,46}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{60,46}}</string>
                <key>sourceSize</key>
                <string>{72,48}</string>
            </dict>
            <key>call_point_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,50},{114,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,96}}</string>
                <key>sourceSize</key>
                <string>{114,96}</string>
            </dict>
            <key>call_point_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,292},{60,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{60,46}}</string>
                <key>sourceSize</key>
                <string>{72,48}</string>
            </dict>
            <key>call_point_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,292},{60,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{60,46}}</string>
                <key>sourceSize</key>
                <string>{72,48}</string>
            </dict>
            <key>game_alarm_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,219},{71,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,60}}</string>
                <key>sourceSize</key>
                <string>{71,60}</string>
            </dict>
            <key>game_alarm_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,434},{43,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,48}}</string>
                <key>sourceSize</key>
                <string>{43,48}</string>
            </dict>
            <key>game_alarm_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,146},{71,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,60}}</string>
                <key>sourceSize</key>
                <string>{71,60}</string>
            </dict>
            <key>game_alarm_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,384},{43,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,48}}</string>
                <key>sourceSize</key>
                <string>{43,48}</string>
            </dict>
            <key>game_chat_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,260},{237,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,103}}</string>
                <key>sourceSize</key>
                <string>{237,103}</string>
            </dict>
            <key>game_chat_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,155},{237,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,103}}</string>
                <key>sourceSize</key>
                <string>{237,103}</string>
            </dict>
            <key>game_chat_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,50},{237,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,103}}</string>
                <key>sourceSize</key>
                <string>{237,103}</string>
            </dict>
            <key>game_nooutcard.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,365},{81,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,46}}</string>
                <key>sourceSize</key>
                <string>{81,46}</string>
            </dict>
            <key>game_tips_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{978,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{978,48}}</string>
                <key>sourceSize</key>
                <string>{978,48}</string>
            </dict>
            <key>game_tips_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{261,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,46}}</string>
                <key>sourceSize</key>
                <string>{261,46}</string>
            </dict>
            <key>game_tips_callscore0.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,438},{81,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,46}}</string>
                <key>sourceSize</key>
                <string>{81,46}</string>
            </dict>
            <key>land_blank.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>land_itemlander_flag.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,982},{38,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,116}}</string>
                <key>sourceSize</key>
                <string>{38,116}</string>
            </dict>
            <key>land_itemroomer_flag.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,50},{30,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,77}}</string>
                <key>sourceSize</key>
                <string>{30,77}</string>
            </dict>
            <key>no_can.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,2},{118,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,46}}</string>
                <key>sourceSize</key>
                <string>{118,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:384967678c9dd37e15719d76295553f0$</string>
            <key>textureFileName</key>
            <string>game.png</string>
        </dict>
    </dict>
</plist>
