<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>emoj1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,662},{122,108}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,18},{122,108}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>emoj1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,552},{122,108}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,18},{122,108}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>emoj1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{122,108}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,18},{122,108}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>emoj1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{122,108}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,18},{122,108}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>emoj1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,880},{122,106}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,20},{122,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>emoj1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{122,106}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,20},{122,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>emoj1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{122,108}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,18},{122,108}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>emoj1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{122,108}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,18},{122,108}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>emoj1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{122,108}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,18},{122,108}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>emoj1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,552},{122,108}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,18},{122,108}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>emoj1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{122,108}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,18},{122,108}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1.png</string>
            <key>size</key>
            <string>{128,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:146e561feff17006178e429405b9a16d$</string>
            <key>textureFileName</key>
            <string>1.png</string>
        </dict>
    </dict>
</plist>
