<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>emoj18_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{124,120}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{124,120}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>emoj18_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,120}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{124,120}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>emoj18_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,242},{124,116}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{124,116}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>emoj18_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{124,116}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{124,116}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>emoj18_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,124},{124,116}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{124,116}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>emoj18_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{124,116}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{124,116}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>emoj18_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{124,116}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{124,116}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>18.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c963b6458f6a88b9b9e6eaf1ff2f1dfb$</string>
            <key>textureFileName</key>
            <string>18.png</string>
        </dict>
    </dict>
</plist>
