<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>emoj6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{122,112}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{122,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>emoj6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,228},{122,110}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,16},{122,110}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>emoj6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{122,112}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{122,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>emoj6_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,116},{122,110}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,16},{122,110}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>emoj6_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{122,108}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,18},{122,108}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>emoj6_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{122,112}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{122,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b6d28fc265a07118dbfa48698eadcb7$</string>
            <key>textureFileName</key>
            <string>6.png</string>
        </dict>
    </dict>
</plist>
