<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>animation/startbar_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{80,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,156}</string>
			</dict>
			<key>animation/startbar_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,162},{80,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,156}</string>
			</dict>
			<key>animation/startbar_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,2},{80,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,156}</string>
			</dict>
			<key>animation/startbar_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,162},{60,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,138}</string>
			</dict>
			<key>animation/startbar_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{170,2},{60,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,138}</string>
			</dict>
			<key>animation/startbar_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{304,2},{101,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,101}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>startbar.png</string>
			<key>realTextureFileName</key>
			<string>startbar.png</string>
			<key>size</key>
			<string>{512,256}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>256</integer>
		</dict>
	</dict>
</plist>